@charset "UTF-8";
@import "style.css";
html, body {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #777777;
}

.content {
  flex-grow: 1;
}

.alt-font, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  height: 47px;
  padding: 14px 25px;
  background: linear-gradient(270.23deg, #8953B8 1.6%, #6550A0 96.41%);
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(188, 85, 212, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  border: none;
  transition: background 0.3s linear;
}
.btn--sm {
  height: 32px;
  padding: 0.4em 1rem;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}
.btn:hover {
  color: #fff;
  border: none;
  background: linear-gradient(270.23deg, #B860E1 1.6%, #785AC0 96.41%);
}

.cb {
  display: flex;
  align-items: center;
}
.cb input[type=checkbox] {
  display: block;
  width: 21px;
  height: 21px;
  margin-top: 0;
  margin-right: 10px;
  border: 0;
  border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  background: #F3F3F3;
}
.cb input[type=checkbox]:checked {
  border: 0;
  background: url("../img/control/checked.png") center center no-repeat;
}

.radio {
  display: flex;
  align-items: center;
}
.radio input[type=radio] {
  display: block;
  width: 22px;
  height: 22px;
  margin-top: 0;
  margin-right: 10px;
  border: 0;
  border-radius: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  background: #F3F3F3;
}
.radio input[type=radio]:checked {
  border: 0;
  background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
  position: relative;
}
.radio input[type=radio]:checked:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  height: 92px;
  flex-shrink: 0;
  background: #2F2254;
  color: #FFFFFF;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.header__search {
  height: 32px;
  border-radius: 17px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 0 15px;
  background-color: #A88EED;
  background-image: url("../img/search-white.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  position: relative;
}
.header__search::-moz-placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}
.header__search:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}
.header__search::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}
.header__menu {
  margin: 20px;
}
.header__phone {
  font-weight: bold;
}
.header__burger {
  display: none;
}
.header.inverse {
  background: #fff;
}
.header.inverse .header__logo {
  color: #7652AB;
}
.header.inverse .header__menu .item {
  color: #2F2254;
}
@media (max-width: 1200px) {
  .header__burger {
    display: block;
  }
  .header__menu {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .header__search, .header__phone {
    display: none;
  }
}

.header-menu {
  display: flex;
  gap: 25px;
}
.header-menu__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.header-menu__item.active {
  color: #A88EED !important;
  font-weight: bold;
}
.header-menu__item.active:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  background: #A88EED;
}

.burger-menu {
  width: 28px;
  height: 20px;
  z-index: 150;
  position: relative;
  cursor: pointer;
}
.burger-menu__inner, .burger-menu:before, .burger-menu:after {
  display: block;
  background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
  border-radius: 3px;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transition: all 0.5s;
}
.burger-menu:before {
  content: "";
  transform: translate(0, -10px);
}
.burger-menu:after {
  content: "";
  transform: translate(0, 10px);
}
.burger-menu.active .burger-menu__inner {
  transform: rotate(45deg);
}
.burger-menu.active:before {
  width: 17px;
  transform: translate(14px, -6px) rotate(-45deg);
}
.burger-menu.active:after {
  width: 17px;
  transform: rotate(-45deg) translate(-3px, 5.5px);
}

.footer {
  background: #2F2254;
  flex-shrink: 0;
  padding: 45px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #A88EED;
}
.footer__copyright {
  color: #fff;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer__phone {
  margin-bottom: 30px;
}
.footer__address {
  text-align: right;
  margin-bottom: 30px;
}
.footer__social {
  display: flex;
  gap: 10px;
}
@media (max-width: 1200px) {
  .footer {
    padding: 55px 0 62px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  .footer__logo, .footer__copyright, .footer__address {
    text-align: center;
  }
  .footer__contacts {
    align-items: center;
  }
}

.phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
  text-decoration: none;
}
.phone:before {
  content: "";
  display: block;
  background-image: url(sprite.png);
  background-position: -59px -102px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: -23px;
}
.phone__schedule {
  font-size: 14px;
  font-weight: 400;
}

.address {
  position: relative;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}
.address:before {
  content: "";
  display: block;
  background-image: url(sprite.png);
  background-position: -75px -102px;
  width: 13px;
  height: 15px;
  position: absolute;
  top: 0;
  left: -17px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 200px;
}
.footer-menu__item {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.footer-menu__item:hover, .footer-menu__item.active {
  color: #A88EED;
  font-weight: bold;
}
@media (max-width: 768px) {
  .footer-menu {
    align-items: center;
  }
}

.social-list {
  display: flex;
  gap: 10px;
}

.social--ph {
  background-image: url(sprite.png);
  background-position: -36px -36px;
  width: 30px;
  height: 30px;
}
.social--ph.active {
  background-image: url(sprite.png);
  background-position: -72px 0px;
  width: 30px;
  height: 30px;
}
.social--wa {
  background-image: url(sprite.png);
  background-position: -102px -60px;
  width: 30px;
  height: 30px;
}
.social--wa.active {
  background-image: url(sprite.png);
  background-position: 0px -102px;
  width: 30px;
  height: 30px;
}
.social--vi {
  background-image: url(sprite.png);
  background-position: -30px -72px;
  width: 30px;
  height: 30px;
}
.social--vi.active {
  background-image: url(sprite.png);
  background-position: -60px -72px;
  width: 30px;
  height: 30px;
}
.social--vk {
  background-image: url(sprite.png);
  background-position: -102px 0px;
  width: 30px;
  height: 30px;
}
.social--vk.active {
  background-image: url(sprite.png);
  background-position: -102px -30px;
  width: 30px;
  height: 30px;
}
.social--tg {
  background-image: url(sprite.png);
  background-position: -72px -30px;
  width: 30px;
  height: 30px;
}
.social--tg.active {
  background-image: url(sprite.png);
  background-position: 0px -72px;
  width: 30px;
  height: 30px;
}

.banner {
  height: 600px;
  background: url("../img/banner-bg.jpg") center no-repeat;
  background-size: cover;
}
.banner__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.banner__left {
  padding: 105px 20px 0 0;
}
.banner__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.banner__desc {
  color: #fff;
  margin-bottom: 45px;
}
.banner__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}
.banner__bottom {
  display: flex;
  gap: 50px;
}
.banner__right {
  height: 100%;
  position: relative;
}
.banner__front {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/banner-front.png") bottom left no-repeat;
  height: 100%;
  max-width: 50vw;
  width: 800px;
}
.banner__social {
  position: absolute;
  bottom: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1200px) {
  .banner__container {
    display: block;
    position: relative;
  }
  .banner__left {
    padding: 90px 110px 0;
  }
  .banner__title, .banner__desc {
    text-align: center;
  }
  .banner__buttons {
    justify-content: center;
  }
  .banner__bottom {
    justify-content: space-between;
  }
  .banner__right {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .banner__front {
    display: none;
  }
}
@media (max-width: 768px) {
  .banner {
    height: auto;
  }
  .banner__left {
    padding: 70px 0 30px;
  }
  .banner__buttons .btn {
    width: 100%;
  }
  .banner__bottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .banner__address, .banner__phone {
    text-align: center;
  }
  .banner__right {
    position: static;
    height: auto;
    padding-bottom: 55px;
  }
  .banner__social {
    position: static;
    flex-direction: row;
    justify-content: center;
  }
}

.section {
  padding: 100px 0 70px;
}
.section + .section {
  padding: 30px 0 70px;
}
.section__container {
  display: grid;
  grid-template-columns: 1fr 355px;
  gap: 55px;
}
@media (max-width: 992px) {
  .section__container {
    display: block;
  }
  .section__text {
    text-align: center;
    margin-bottom: 30px;
  }
  .section__img {
    display: none;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #2F2254;
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 15px;
}
.title:before {
  content: "";
  display: block;
  width: 135px;
  background: #A88EED;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 992px) {
  .title--left {
    text-align: left;
  }
  .title--left:before {
    left: 0;
    transform: none;
  }
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.services__item {
  padding: 30px 25px 40px;
  border: 2px solid #fff;
  border-radius: 11px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.services__item:hover {
  border: 2px solid #A88EED;
}
.services__title {
  text-align: center;
  margin: 0 50px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2F2254;
}
.services__desc {
  margin-bottom: 50px;
}
.services__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.services__action {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #6550A0;
  text-decoration: none;
}
.services__action:hover {
  color: #B860E1;
}
@media (max-width: 1200px) {
  .services__container {
    gap: 18px;
  }
  .services__item {
    padding: 30px 26px 20px;
  }
  .services__title {
    margin: 0 0 25px;
    font-size: 23px;
  }
  .services__desc {
    margin-bottom: 15px;
  }
  .services__img {
    display: none;
  }
}
@media (max-width: 768px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .services__action {
    width: 100%;
    text-align: center;
  }
}

.slick-arrow {
  font-size: 0;
}

.banner2 {
  background: url("../img/banner2-bg.png");
}
.banner2__container {
  display: grid;
  grid-template-columns: 1fr 365px 1fr;
}
.banner2__left, .banner2__right {
  padding: 40px 0;
}
.banner2__txt1 {
  color: #CABEED;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}
.banner2__txt2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.banner2__middle {
  height: 250px;
  background: url("../img/banner2-front.png") center no-repeat;
  background-size: contain;
}
.banner2__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner2__product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .banner2__txt1, .banner2__txt2 {
    text-align: center;
  }
  .banner2__middle {
    display: none;
  }
  .banner2__container {
    display: block;
  }
  .banner2__right {
    padding-top: 0;
  }
}

.repair-list__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.repair-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  background: #FFFFFF;
  border: 2px solid #fff;
  border-radius: 11px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
  height: 320px;
  text-decoration: none;
  padding: 0 30px;
}
.repair-list__item:hover {
  border: 2px solid #A88EED;
}
.repair-list__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #2F2254;
  text-align: center;
}
.repair-list__btn {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
@media (max-width: 992px) {
  .repair-list__container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .repair-list__container {
    grid-template-columns: 1fr;
  }
}

.why-us__container {
  display: grid;
  grid-template-columns: 1fr 355px;
  gap: 15px;
}
.why-us__img {
  grid-column: 2;
  grid-row: 1/3 span;
}
.why-us__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.why-us__bg {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #A88EED;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.why-us__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #2F2254;
  width: 150px;
}
@media (max-width: 992px) {
  .why-us__container {
    display: block;
  }
  .why-us__text {
    text-align: center;
    margin-bottom: 30px;
  }
  .why-us__img {
    display: none;
  }
}
@media (max-width: 762px) {
  .why-us__icons {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 35px;
  }
  .why-us__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-us__title {
    text-align: center;
    width: auto;
  }
}

.repair-detail__container {
  display: grid;
  grid-template-columns: 1fr 325px;
}
.repair-detail__image {
  grid-column: 2;
  grid-row: 3 span;
}
.repair-detail__text {
  margin-bottom: 1rem;
}
.repair-detail__buttons {
  display: flex;
  gap: 27px;
}
@media (max-width: 992px) {
  .repair-detail__container {
    display: block;
  }
  .repair-detail__image {
    display: none;
  }
  .repair-detail__buttons {
    justify-content: center;
  }
  .repair-detail__text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .repair-detail__buttons {
    flex-direction: column;
  }
}

.repair-problems__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.repair-problems__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 11px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
  height: 145px;
  font-family: "Montserrat", sans-serif;
}
.repair-problems__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2F2254;
  height: 50px;
  display: flex;
  align-items: center;
}
.repair-problems__price {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #A88EED;
}
@media (max-width: 992px) {
  .repair-problems__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .repair-problems__container {
    grid-template-columns: 1fr;
  }
}

.tabs {
  background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
  border-radius: 22px;
  display: inline-flex;
}
.tabs__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.tabs__item.selected {
  background: transparent;
}
.tabs--lg .tabs__item {
  font-weight: 400;
  padding: 0 30px;
  line-height: 15px;
  height: 39px;
  text-align: center;
}
@media (max-width: 768px) {
  .tabs--lg .tabs__item, .tabs__item {
    font-size: 12px;
    padding: 0 5px;
  }
}

.contacts__maps {
  border: 6px solid #FFFFFF;
  box-sizing: border-box;
  height: 438px;
  width: 677px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  top: 37px;
  left: 439px;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.contacts__map {
  width: 100%;
  height: 100%;
}
.contacts__map ymap {
  max-width: 100%;
  max-height: 100%;
}
.contacts__company-details {
  display: none;
}
.contacts__company-metro {
  justify-content: center;
  margin-bottom: 20px;
}
.contacts__company-btn {
  margin-top: 25px;
}
.contacts__company-item {
  background: #FFFFFF;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 8px;
}
.contacts__company-item-border {
  border: 1px solid #DDE3E6;
  border-radius: 4px;
  padding: 38px 28px;
}
.contacts__company-item-sides {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts__company-item-sides > div:last-child {
  padding-left: 40px;
  border-left: 1px solid #000000;
}
.contacts__info-container {
  position: relative;
}
.contacts__info-items {
  width: 445px;
  height: 512px;
  background: #FFFFFF;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 8px;
  position: relative;
  z-index: 2;
}
.contacts__info-item {
  border: 1px solid #DDE3E6;
  border-radius: 4px;
  height: 100%;
  padding: 38px 28px;
}
.contacts__tabs {
  margin-bottom: 20px;
}
.contacts__btn-route {
  margin-top: 12px;
}
.contacts__info-metro {
  position: absolute;
  top: 0;
  left: 478px;
}
.contacts__info-social {
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .contacts__info-metro {
    position: static;
    justify-content: center;
    margin-bottom: 20px;
  }
  .contacts__info-items {
    height: auto;
    width: auto;
    margin-bottom: 40px;
  }
  .contacts__info-item {
    padding: 38px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__maps {
    height: 438px;
    width: auto;
    position: static;
    border-radius: 20px;
  }
}
@media (max-width: 992px) {
  .contacts__company-item-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 5px;
  }
  .contacts__company-item-sides {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .contacts__company-item-sides > div:last-child {
    padding-left: 0;
    border-left: none;
  }
  .contacts__company-metro, .contacts__info-metro {
    flex-direction: column;
    align-items: center;
    gap: 20px !important;
  }
}

.metro-tabs {
  display: flex;
  gap: 40px;
}
.metro-tabs__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2F2254;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  filter: grayscale(1);
}
.metro-tabs__item.selected {
  filter: grayscale(0);
}
.metro-tabs__item:before {
  display: block;
  content: "";
  background-image: url(sprite.png);
  background-position: -30px -102px;
  width: 29px;
  height: 20px;
  margin-bottom: 2px;
}

.info__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #777777;
}
.info__value {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2F2254;
}
.info__comment {
  display: inline;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
.info + .info {
  margin-top: 20px;
}

.brands__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}
@media (max-width: 1200px) {
  .brands__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .brands__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .brands__container {
    grid-template-columns: 1fr;
  }
}

.printers__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.printers__item {
  display: grid;
  text-decoration: none;
  gap: 20px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  padding: 25px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2F2254;
  border: 1px solid #FFFFFF;
}
.printers__item:hover {
  color: #2F2254;
  border: 1px solid #A88EED;
}
.printers__img {
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1200px) {
  .printers__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .printers__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .printers__container {
    grid-template-columns: 1fr;
  }
}

.btn-buy {
  width: 30px;
  height: 30px;
  background: #A88EED;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.btn-buy:before {
  display: block;
  content: "";
  background: url("../img/buy.svg") center center no-repeat;
  background-size: contain;
  width: 51%;
  height: 51%;
}

.cartridge-list {
  display: grid;
  grid-template-columns: 250px 1fr;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 30px;
}
.cartridge-list__sidebar {
  grid-row: 2/2 span;
}
.cartridge-list__price-filter {
  border-bottom: 1px solid #F3F3F3;
}
.cartridge-list__header {
  display: flex;
  align-items: center;
  gap: 25px;
  grid-column: 2;
}
.cartridge-list__mode {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.cartridge-list__items {
  display: grid;
  gap: 10px;
}
.cartridge-list__btn-filter {
  display: none;
}
@media (max-width: 1200px) {
  .cartridge-list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 992px) {
  .cartridge-list {
    grid-template-columns: 1fr;
  }
  .cartridge-list__header {
    grid-column: 1;
  }
  .cartridge-list__sidebar {
    grid-row: 2;
  }
  .cartridge-list__menu {
    display: none;
  }
  .cartridge-list__btn-filter {
    display: inline-block;
    margin-left: auto;
  }
  .cartridge-list__mode {
    margin: 0;
  }
  .cartridge-list__price-filter {
    width: 50%;
    border-bottom: none;
    display: none;
  }
  .cartridge-list__price-filter.active {
    display: block;
  }
}
@media (max-width: 768px) {
  .cartridge-list__price-filter {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .cartridge-list__mode {
    display: none;
  }
  .cartridge-list__header {
    flex-direction: column;
  }
  .cartridge-list__sort, .cartridge-list__btn-filter {
    width: 100%;
  }
}

.cartridge-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 764px) {
  .cartridge-tiles {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .cartridge-tiles {
    grid-template-columns: 1fr;
  }
}

.cartridge-tile {
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.cartridge-tile__img-wrap {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F3F3F3;
  margin-bottom: 25px;
}
.cartridge-tile__label {
  position: absolute;
  top: 15px;
  right: 15px;
}
.cartridge-tile__art {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #777777;
  margin-bottom: 13px;
}
.cartridge-tile__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #2F2254;
  text-decoration: none;
  margin-bottom: 25px;
  padding: 0 20px;
}
.cartridge-tile__prices {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
}
.cartridge-tile__price-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartridge-tile__price-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #777777;
}
.cartridge-tile__price-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BABABA;
}
.cartridge-tile__price-value span {
  color: #A88EED;
}
.cartridge-tile__buy {
  margin-top: 9px;
}

.cartridge-row {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 15px 13px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border: 1px solid #FFFFFF;
}
.cartridge-row:hover {
  border: 1px solid #A88EED;
}
.cartridge-row__img {
  width: 64px;
  margin-right: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cartridge-row__main {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 5px;
  align-items: center;
  width: 215px;
}
.cartridge-row__art {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #777777;
}
.cartridge-row__label {
  display: inline-block;
  margin-left: 10px;
}
.cartridge-row__title {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #2F2254;
  text-decoration: none;
}
.cartridge-row__title:hover {
  color: #2F2254;
}
.cartridge-row__price-block {
  margin: 0 20px 0 auto;
}
.cartridge-row__price-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #777777;
}
.cartridge-row__price-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BABABA;
}
.cartridge-row__price-value span {
  color: #A88EED;
}
@media (max-width: 768px) {
  .cartridge-row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cartridge-row__main {
    width: calc(100% - 86px);
    max-width: calc(100% - 86px);
    margin-bottom: 20px;
  }
  .cartridge-row__price-block {
    margin: 0 20px 0 0;
  }
  .cartridge-row__buy {
    margin-right: auto;
  }
  .cartridge-row__buy:last-child {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .cartridge-row__price-value {
    font-size: 12px;
  }
}

.label {
  color: #FFFFFF;
}
.label:before {
  border-radius: 17px;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  padding: 0 9px;
}
.label.lg:before {
  font-size: 14px;
  line-height: 24px;
}
.label.new:before {
  content: "В наличии";
  background: #A88EED;
}
.label.in-stock:before {
  content: "В наличии";
  background: #A88EED;
}

.sidebar-menu__item {
  border-bottom: 1px solid #F3F3F3;
}
.sidebar-menu__category {
  cursor: pointer;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-menu__category-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #A88EED;
  text-decoration: none;
}
.sidebar-menu__category-name:hover {
  color: #A88EED;
}
.sidebar-menu__arr {
  transition: transform ease 0.3s;
}
.sidebar-menu__item.active .sidebar-menu__arr {
  transform: rotate(180deg);
}
.sidebar-menu__item.active .sidebar-menu__subcategories {
  max-height: 170px;
  margin-bottom: 16px;
}
.sidebar-menu__subcategories {
  display: flex;
  max-height: 0;
  overflow-y: scroll;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 0;
  transition: max-height ease 0.3s, margin-bottom ease 0.3s;
}
.sidebar-menu__subcategories::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}
.sidebar-menu__subcategories::-webkit-scrollbar-track {
  background: #F3F3F3;
}
.sidebar-menu__subcategories::-webkit-scrollbar-thumb {
  background: #A88EED;
  border-radius: 4px;
}
.sidebar-menu__subcategory {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
.sidebar-menu__subcategory.active {
  font-weight: 700;
  color: #9250B1;
}

.select {
  display: block;
  border: 1px solid #F3F3F3;
  border-radius: 17px;
  height: 32px;
  padding: 0 40px 0 13px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #777777;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2725 3.18e-08L12 0.754687L6 7L3.29884e-08 0.754688L0.723749 4.92901e-07L6 5.48698L11.2725 3.18e-08Z' fill='%23777777'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
}
.select.sm {
  height: 20px;
  border-radius: 4px;
  padding: 0 30px 0 7px;
}
.select.purple {
  color: #FFFFFF;
  background-color: #A88EED;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2458 0.290792C10.0584 0.104542 9.80498 0 9.5408 0C9.27661 0 9.02316 0.104542 8.8358 0.290792L5.2458 3.83079L1.7058 0.290792C1.51844 0.104542 1.26498 0 1.0008 0C0.736612 0 0.483161 0.104542 0.295798 0.290792C0.20207 0.383755 0.127675 0.494356 0.0769067 0.616216C0.026138 0.738075 0 0.868781 0 1.00079C0 1.1328 0.026138 1.26351 0.0769067 1.38537C0.127675 1.50723 0.20207 1.61783 0.295798 1.71079L4.5358 5.95079C4.62876 6.04452 4.73936 6.11891 4.86122 6.16968C4.98308 6.22045 5.11379 6.24659 5.2458 6.24659C5.37781 6.24659 5.50852 6.22045 5.63037 6.16968C5.75223 6.11891 5.86283 6.04452 5.9558 5.95079L10.2458 1.71079C10.3395 1.61783 10.4139 1.50723 10.4647 1.38537C10.5155 1.26351 10.5416 1.1328 10.5416 1.00079C10.5416 0.868781 10.5155 0.738075 10.4647 0.616216C10.4139 0.494356 10.3395 0.383755 10.2458 0.290792Z' fill='white'/%3E%3C/svg%3E");
}
.select option {
  font-weight: normal;
  color: #000000;
}

.arr {
  width: 9px;
  height: 9px;
}
.arr:before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  border-top: 1px solid #777777;
  border-left: 1px solid #777777;
}
.arr.up:before {
  transform: translate(0, 30%) rotate(45deg);
}
.arr.down:before {
  transform: translate(0, -30%) rotate(225deg);
}
.arr.right:before {
  transform: translate(-30%, 0%) rotate(135deg);
}
.arr.left:before {
  transform: translate(30%, 0%) rotate(315deg);
}

.pagen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.pagen__pages {
  display: flex;
  align-items: center;
  gap: 2px;
}
.pagen__page {
  height: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #2F2254;
  padding: 0 7px;
}
.pagen__page.active {
  background: #A88EED;
}
.pagen__size-select {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.pagen__total {
  justify-self: end;
}
@media (max-width: 768px) {
  .pagen {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 15px;
  }
  .pagen__total {
    justify-self: center;
  }
}

.fancybox-content {
  border-radius: 40px;
  padding: 8px !important;
  overflow: visible;
}
.fancybox-border {
  border: 0.5px solid #DDE3E5;
  border-radius: 34px;
  background: #FFFFFF;
  padding: 40px 36px;
}
.fancybox-border-mobile {
  border: 0.5px solid #DDE3E5;
  border-radius: 34px;
  background: #FFFFFF;
  padding: 40px 36px;
}
@media (max-width: 635px) {
  .fancybox-border-mobile {
    padding: 25px 9px;
  }
}
.fancybox-close-small {
  background: linear-gradient(270.23deg, #8953B8 1.6%, #6550A0 96.41%);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  opacity: 1;
  top: -14px !important;
  right: -12px !important;
}
.fancybox-close-small:before, .fancybox-close-small:after {
  display: block;
  content: "";
  background: #fff;
  position: absolute;
  width: 26px;
  height: 2px;
  border-radius: 2px;
  top: 50%;
  left: 50%;
}
.fancybox-close-small:before {
  transform: translate(-50%, 0) rotate(45deg);
}
.fancybox-close-small:after {
  transform: translate(-50%, 0) rotate(-45deg);
}
.fancybox-close-small svg {
  display: none;
}

.noUi-target {
  height: 4px;
  box-shadow: none;
  border: none;
  background: #F3F3F3;
  border-radius: 6px;
}
.noUi-connect {
  background: #A88EED;
}
.noUi-handle {
  width: 15px !important;
  height: 15px !important;
  right: -7px !important;
  top: -6px !important;
  box-shadow: none;
  border: none;
  background: #A88EED;
  border-radius: 100%;
  cursor: pointer;
}
.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.price-filter {
  padding: 20px 0 26px;
}
.price-filter__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #A88EED;
  margin-bottom: 20px;
}
.price-filter__inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.price-filter__input-wrap {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BABABA;
}
.price-filter__input-wrap:before, .price-filter__input-wrap:after {
  display: block;
  position: absolute;
  top: 12px;
}
.price-filter__input-wrap:before {
  left: 9px;
}
.price-filter__input-wrap:after {
  right: 9px;
  content: "₽";
}
.price-filter__input-wrap:first-child:before {
  content: "от";
}
.price-filter__input-wrap:last-child:before {
  content: "до";
}
.price-filter__input {
  display: block;
  background: #F3F3F3;
  border-radius: 10px;
  height: 44px;
  width: 115px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #A88EED;
  outline: none;
  padding: 0 20px 0 32px;
}

.cartridge-detail {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 60px;
}
.cartridge-detail__label {
  margin-bottom: 20px;
}
.cartridge-detail__title {
  margin-bottom: 35px;
}
.cartridge-detail__tabs {
  margin-bottom: 25px;
}
.cartridge-detail__options {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  gap: 60px;
}
.cartridge-detail__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #A88EED;
  margin-bottom: 15px;
}
.cartridge-detail__form-item {
  margin-bottom: 15px;
}
.cartridge-detail__lower {
  grid-column: 1/2 span;
}
.cartridge-detail__order {
  display: grid;
  grid-template-columns: 730px 1fr;
  margin-bottom: 30px;
}
.cartridge-detail__qty-values {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cartridge-detail__qty-values span {
  text-align: right;
  width: 10%;
  height: 20px;
}
.cartridge-detail__qty-slider {
  padding-left: 10%;
  margin-bottom: 15px;
  position: relative;
}
.cartridge-detail__qty-slider:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  border-radius: 6px;
  height: 10px;
  background: #A88EED;
  left: 0;
}
.cartridge-detail__qty-slider .noUi-target {
  height: 10px;
  box-shadow: none;
  border: none;
  border-radius: 6px;
}
.cartridge-detail__qty-slider .noUi-handle {
  width: 20px !important;
  height: 20px !important;
  right: -8px !important;
  top: -5px !important;
}
.cartridge-detail__price-values {
  display: flex;
  padding-left: 5%;
}
.cartridge-detail__price-sample {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #A88EED;
  width: 11%;
  text-align: center;
}
.cartridge-detail__price-sample span {
  color: #777777;
}
.cartridge-detail__price-sample:last-child {
  width: auto;
  margin-left: auto;
}
.cartridge-detail__result {
  display: flex;
  gap: 25px;
  margin-left: auto;
}
.cartridge-detail__result-value {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: #BABABA;
}
.cartridge-detail__result-value span {
  color: #A88EED;
  font-weight: bold;
}
.cartridge-detail__chars {
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .cartridge-detail__order {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    row-gap: 50px;
  }
  .cartridge-detail__result {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .cartridge-detail {
    grid-template-columns: 1fr;
  }
  .cartridge-detail__slider {
    width: 320px;
    margin: 0 auto;
  }
  .cartridge-detail__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cartridge-detail__lower {
    grid-column: 1 span;
  }
}
@media (max-width: 768px) {
  .cartridge-detail__slider {
    width: 300px;
    margin: 0 auto;
  }
  .cartridge-detail__price-sample {
    font-size: 12px;
    line-height: 17px;
  }
  .cartridge-detail__options {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }
  .cartridge-detail__option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cartridge-detail__result-value {
    font-size: 28px;
  }
  .cartridge-detail__price-values {
    padding: 0;
  }
  .cartridge-detail__price-sample {
    width: auto;
    padding-right: 5px;
  }
  .cartridge-detail__qty-slider {
    padding: 0 10px;
  }
  .cartridge-detail__qty-slider:before {
    display: none;
  }
  .cartridge-detail__qty-values {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0;
  }
  .cartridge-detail__qty-values span {
    width: 20px;
    height: 20px;
    text-align: center;
  }
}

.chars {
  display: grid;
  row-gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #2F2254;
}
.chars__row {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 150px;
  background: #EDE7FF;
  align-items: center;
  height: 38px;
  padding: 0 13px;
}
.chars__row:nth-child(even) {
  background: #FAF8FC;
}
.chars__row:hover {
  background: #A88EED;
  color: #FFFFFF;
}
.chars__value {
  font-weight: 700;
  letter-spacing: 0.01em;
}

.sync-slider__main {
  position: relative;
}
.sync-slider__main .slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  transform: translate(0, -50%);
}
.sync-slider__main .slick-arrow:before, .sync-slider__main .slick-arrow:after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background: #C7C7C7;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2px;
}
.sync-slider__main .slick-arrow:before {
  transform: translate(-5px, -4px) rotate(45deg);
}
.sync-slider__main .slick-arrow:after {
  transform: translate(-5px, 3px) rotate(-45deg);
}
.sync-slider__main .slick-arrow:hover {
  background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
}
.sync-slider__main .slick-arrow:hover:before, .sync-slider__main .slick-arrow:hover:after {
  background: #fff;
}
.sync-slider__main .slick-arrow.slick-next {
  right: 5px;
}
.sync-slider__main .slick-arrow.slick-prev {
  left: 5px;
  z-index: 10;
  transform: translate(0, -50%) rotate(180deg);
}
.sync-slider__main-item {
  width: 100%;
  position: relative;
  padding: 8px;
  border: 1px solid #A88EED;
  border-radius: 10px;
}
.sync-slider__main-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.sync-slider__main-item:before {
  content: "";
  display: block;
  width: 0;
  padding-bottom: 100%;
}
.sync-slider__nav {
  margin: 0 -5px;
}
.sync-slider__nav-item {
  padding: 5px;
  overflow: hidden;
  width: calc(25% - 5px);
  box-sizing: border-box;
  position: relative;
}
.sync-slider__nav-item:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.sync-slider__nav-item-inner {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #A88EED;
  border-radius: 10px;
  padding: 7px;
}
.sync-slider__nav-item-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.price-popup__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.price-popup__title {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .price-popup__line--top {
    flex-direction: column;
    gap: 36px;
  }
}
@media (max-width: 576px) {
  .price-popup__line--bottom {
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }
}

.price-table {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #2F2254;
  width: 900px;
  max-width: 100%;
}
.price-table__body {
  display: grid;
  gap: 10px;
}
.price-table__row {
  display: grid;
}
.price-table__row--type1 {
  grid-template-columns: 130px 1fr 120px 120px;
}
.price-table__row--type2 {
  grid-template-columns: 1fr 150px;
}
.price-table__header .price-table__row {
  text-transform: uppercase;
}
.price-table__body .price-table__row {
  background: #FAF8FC;
  border-radius: 8px;
}
.price-table__body .price-table__row:nth-child(odd) {
  background: #EDE7FF;
}
.price-table__body .price-table__row:hover {
  background: #A88EED;
  color: #FFFFFF;
}
.price-table__title {
  display: none;
}
.price-table__col {
  padding: 10px 13px;
}
@media (max-width: 635px) {
  .price-table__header {
    display: none;
  }
  .price-table__body .price-table__row--type1 {
    background: #FFFFFF !important;
    color: #2F2254 !important;
  }
  .price-table__body .price-table__row--type1 .price-table__col:nth-child(2) {
    border-radius: 8px 8px 0 0;
  }
  .price-table__body .price-table__row--type1 .price-table__col:last-child {
    border-radius: 0 0 8px 8px;
  }
  .price-table__body .price-table__row--type1:nth-child(even) .price-table__col {
    background: #FAF8FC;
  }
  .price-table__body .price-table__row--type1:nth-child(odd) .price-table__col {
    background: #EDE7FF;
  }
  .price-table__title {
    display: block;
    padding: 10px 13px 10px 0;
    background: #FFFFFF;
    text-transform: uppercase;
  }
  .price-table__body .price-table__row--type1 {
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
  }
  .price-table__body .price-table__row--type2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.social-radio {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-radio__radio {
  display: none;
}
.social-radio__icon {
  cursor: pointer;
}
.social-radio__icon.ph {
  background-image: url(sprite.png);
  background-position: -72px 0px;
  width: 30px;
  height: 30px;
}
.social-radio__icon.wa {
  background-image: url(sprite.png);
  background-position: 0px -102px;
  width: 30px;
  height: 30px;
}
.social-radio__icon.vi {
  background-image: url(sprite.png);
  background-position: -60px -72px;
  width: 30px;
  height: 30px;
}
.social-radio__icon.vk {
  background-image: url(sprite.png);
  background-position: -102px -30px;
  width: 30px;
  height: 30px;
}
.social-radio__icon.tg {
  background-image: url(sprite.png);
  background-position: 0px -72px;
  width: 30px;
  height: 30px;
}
.social-radio__radio:checked + .social-radio__icon.ph {
  background-image: url(sprite.png);
  background-position: -36px -36px;
  width: 30px;
  height: 30px;
}
.social-radio__radio:checked + .social-radio__icon.wa {
  background-image: url(sprite.png);
  background-position: -102px -60px;
  width: 30px;
  height: 30px;
}
.social-radio__radio:checked + .social-radio__icon.vi {
  background-image: url(sprite.png);
  background-position: -30px -72px;
  width: 30px;
  height: 30px;
}
.social-radio__radio:checked + .social-radio__icon.vk {
  background-image: url(sprite.png);
  background-position: -102px 0px;
  width: 30px;
  height: 30px;
}
.social-radio__radio:checked + .social-radio__icon.tg {
  background-image: url(sprite.png);
  background-position: -72px -30px;
  width: 30px;
  height: 30px;
}

.form {
  width: 300px;
  max-width: 100%;
}
.form input {
  height: 40px;
  background: #F4F4F4;
  border-radius: 30px;
  border: none;
  padding: 0 15px;
  width: 100%;
  outline: none;
}
.form__row {
  margin-bottom: 15px;
  display: grid;
  gap: 16px;
}
.form__row--w40x60 {
  grid-template-columns: 4fr 6fr;
}
.form__social-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2F2254;
  margin: 30px 0 20px;
  text-align: center;
}
.form__btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.form-success {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-success__text {
  width: 340px;
  max-width: 100%;
  padding: 20px 30px 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #777777;
}