//@import "../css/normalize.css";
//@import "bootstrap/bootstrap";
//$font-size-root: 14;
//$enable-grid-classes: 0;

//@import "bootstrap/grid";
//@import "bootstrap/reboot";
@import "sprite";
@import "style.css";


@mixin grid-item($column-start, $column-end, $row-start, $row-end){
	grid-column-start: $column-start;
	grid-column-end: $column-end;
	grid-row-start: $row-start;
	grid-row-end: $row-end;
}


html, body {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;

	color: #777777;
}

.content {
	flex-grow:1;
}

.alt-font, h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
}

//.container {
//	width: 100%;
//	box-sizing: border-box;
//	padding-right: 15px;
//	padding-left: 15px;
//	margin-right: auto;
//	margin-left: auto;
//
//	@media (min-width: 576px) { max-width: 540px; }
//	@media (min-width: 768px) { max-width: 720px; }
//	@media (min-width: 1200px) { max-width: 1140px; }
//}

.btn {
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	height: 47px;
	padding: 14px 25px;
	background: linear-gradient(270.23deg, #8953B8 1.6%, #6550A0 96.41%);
	border-radius: 30px;
	box-shadow: 0 4px 10px rgba(188, 85, 212, 0.3);
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #fff;
	border: none;
	transition: background .3s linear;

	&--sm {
		height: 32px;
		padding: 0.4em 1rem;
		font-size: 14px;
		line-height: 19px;
		color: #fff;
	}

	&:hover {
		color: #fff;
		border: none;
		background: linear-gradient(270.23deg, #B860E1 1.6%, #785AC0 96.41%);
	}
}

.cb {
	display: flex;
	align-items: center;

	input[type="checkbox"] {
		display: block;
		width: 21px;
		height: 21px;
		margin-top: 0;
		margin-right: 10px;
		//background: #FFFFFF;
		border: 0;
		border-radius: 3px;
		appearance: none;
		color-adjust: exact;
		background: #F3F3F3;

		&:checked {
			border:0;
			background: url('../img/control/checked.png') center center no-repeat;
		}
	}
}


.radio {
	display: flex;
	align-items: center;

	input[type="radio"] {
		display: block;
		width: 22px;
		height: 22px;
		margin-top: 0;
		margin-right: 10px;
		border: 0;
		border-radius: 100%;
		appearance: none;
		color-adjust: exact;
		background: #F3F3F3;

		&:checked {
			border:0;
			background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				background: #fff;
				position: absolute;
				border-radius: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.header {
	height: 92px;
	flex-shrink: 0;
	background: #2F2254;
	color: #FFFFFF;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__logo {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;
	}

	&__search {
		height: 32px;
		border-radius: 17px;
		appearance: none;
		border: none;
		outline: none;
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		padding: 0 15px;
		background-color: #A88EED;
		background-image: url("../img/search-white.png");
		background-repeat: no-repeat;
		background-position: 95% 50%;
		position: relative;


		&::placeholder {
			color: #fff;
			opacity: 1; /* Firefox */
		}
	}

	&__menu {
		margin: 20px;
	}

	&__phone {
		font-weight: bold;
	}

	&__burger {
		display: none;
	}

	&.inverse {
		background: #fff;
	}

	&.inverse &__logo {
		color: #7652AB;
	}

	&.inverse &__menu .item {
		color: #2F2254;
	}

	@media (max-width: 1200px) {
		&__burger {
			display: block;
		}

		&__menu {
			display: none !important;
		}
	}

	@media (max-width: 768px) {
		&__search, &__phone {
			display: none;
		}
	}
}


.header-menu {
	display: flex;
	gap: 25px;

	&__item {
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 21px;
		color: #FFFFFF;
		text-decoration: none;
		position: relative;

		&.active {
			color: #A88EED !important;
			font-weight: bold;

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: -3px;
				background: #A88EED;
			}
		}
	}
}

.burger-menu {
	width: 28px;
	height: 20px;
	z-index: 150;
	position: relative;
	cursor: pointer;

	&__inner,
	&:before,
	&:after {
		display: block;
		background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
		border-radius: 3px;
		width: 100%;
		height: 4px;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transition: all .5s;
	}

	&:before {
		content: '';
		transform: translate(0, -10px);
	}
	&:after {
		content: '';
		transform: translate(0, 10px);
	}

	&.active &__inner {
		transform: rotate(45deg);
	}

	&.active:before {
		width:17px;
		transform: translate(14px, -6px) rotate(-45deg);
	}
	&.active:after {
		width:17px;
		//transform: rotate(-45deg);
		transform: rotate(-45deg) translate(-3px, 5.5px);
	}
}


.footer {
	background: #2F2254;
	flex-shrink: 0;
	padding: 45px 0;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		color: #A88EED;
	}

	&__copyright {
		color: #fff;
	}

	&__menu {

	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: end;
		//gap: 30px;
	}

	&__phone {
		margin-bottom: 30px;
	}


	&__address {
		text-align: right;
		margin-bottom: 30px;
	}

	&__social {
		display: flex;
		gap: 10px;
	}

	@media (max-width: 1200px) {
		padding: 55px 0 62px;
	}

	@media (max-width: 768px) {
		&__container {
			flex-direction: column;
			align-items: center;
			gap: 45px;
		}

		&__logo, &__copyright, &__address {
			text-align: center;
		}

		&__contacts {
			align-items: center;
		}
	}
}

.phone {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	position: relative;
	text-decoration: none;

	&:before {
		content: '';
		display: block;
		@include sprite($phone);
		position: absolute;
		top: 4px;
		left: -23px;
	}

	&__schedule {
		font-size: 14px;
		font-weight: 400;
	}
}

.address {
	position: relative;
	color: #fff;
	font-size: 16px;
	line-height: 19px;

	&:before {
		content: '';
		display: block;
		@include sprite($address);
		position: absolute;
		top: 0;
		left: -17px;
	}
}


.footer-menu {
	display: flex;
	flex-direction: column;
	gap: 18px;
	width: 200px;

	&__item {
		text-decoration: none;
		color: #fff;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;

		&:hover, &.active {
			color: #A88EED;
			font-weight: bold;
		}
	}

	@media (max-width: 768px) {
		align-items: center;
	}
}

.social-list {
	display: flex;
	gap: 10px;
}

.social {
	&--ph { @include sprite($ph-dark); &.active { @include sprite($ph-light); } }
	&--wa { @include sprite($wa-dark); &.active { @include sprite($wa-light); } }
	&--vi { @include sprite($vi-dark); &.active { @include sprite($vi-light); } }
	&--vk { @include sprite($vk-dark); &.active { @include sprite($vk-light); } }
	&--tg { @include sprite($tg-dark); &.active { @include sprite($tg-light); } }
}


.banner {
	height: 600px;
	background: url("../img/banner-bg.jpg") center no-repeat;
	background-size: cover;

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 100%;
	}

	&__left {
		padding: 105px 20px 0 0;
	}

	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
		color: #FFFFFF;
	}

	&__desc {
		color: #fff;
		margin-bottom: 45px;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin-bottom: 80px;
	}

	&__bottom {
		display: flex;
		gap: 50px;
	}

	&__right {
		height: 100%;
		position: relative;
	}

	&__front {
		position: absolute;
		bottom: 0;
		left: 0;
		background: url("../img/banner-front.png") bottom left no-repeat;
		height: 100%;
		max-width: 50vw;
		width: 800px;
	}

	&__social {
		position: absolute;
		bottom: 70px;
		right: 0;

		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	@media (max-width: 1200px) {
		&__container {
			display: block;
			position: relative;
		}

		&__left {
			padding: 90px 110px 0;
		}

		&__title, &__desc {
			text-align: center;
		}

		&__buttons {
			justify-content: center;
		}

		&__bottom {
			justify-content: space-between;
		}

		&__right {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		&__front {
			display: none;
		}
	}

	@media (max-width: 768px) {
		height: auto;

		&__left {
			padding: 70px 0 30px;
		}

		&__buttons .btn {
			width: 100%;
		}

		&__bottom {
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}

		&__address, &__phone {
			text-align: center;
		}

		&__right {
			position: static;
			height: auto;
			padding-bottom: 55px;
		}

		&__social {
			position: static;
			flex-direction: row;
			justify-content: center;
		}
	}
}

.section {
	padding: 100px 0 70px;
	& + & {
		padding: 30px 0 70px;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 355px;
		gap: 55px;
	}

	@media (max-width: 992px) {
		&__container {
			display: block;
		}

		&__text {
			text-align: center;
			margin-bottom: 30px;
		}

		&__img {
			display: none;
		}
	}
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #2F2254;
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 15px;

	&:before {
		content: '';
		display: block;
		width: 135px;
		background: #A88EED;
		height: 5px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}

	@media (min-width: 992px) {

		&--left {
			text-align: left;

			&:before {
				left: 0;
				transform: none;
			}
		}
	}
}

.services {

	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	&__item {
		padding: 30px 25px 40px;
		border: 2px solid #fff;
		border-radius: 11px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

		&:hover {
			border: 2px solid #A88EED
		}
	}

	&__title {
		text-align: center;
		margin: 0 50px 25px;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		color: #2F2254;
	}

	&__desc {
		margin-bottom: 50px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__action {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #6550A0;
		text-decoration: none;

		&:hover {
			color: #B860E1;
		}
	}

	@media (max-width: 1200px) {
		&__container {
			gap: 18px;
		}

		&__item {
			padding: 30px 26px 20px;
		}

		&__title {
			margin: 0 0 25px;
			font-size: 23px;
		}

		&__desc {
			margin-bottom: 15px;
		}

		&__img {
			display: none;
		}
	}

	@media (max-width: 768px) {
		&__container {
			grid-template-columns: 1fr;
			gap: 25px;
		}

		&__action {
			width: 100%;
			text-align: center;
		}
	}
}

.slick-arrow {
	font-size: 0;
}

.banner2 {
	background: url("../img/banner2-bg.png");

	&__container {
		display: grid;
		grid-template-columns: 1fr 365px 1fr;
	}

	&__left, &__right {
		padding: 40px 0;
	}

	&__txt1 {
		color: #CABEED;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 20px;
	}

	&__txt2 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		color: #FFFFFF;
	}

	&__middle {
		height: 250px;
		background: url("../img/banner2-front.png") center no-repeat;
		background-size: contain;

	}

	&__right {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__product-name {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 20px;
	}

	@media (max-width: 992px) {
		&__txt1, &__txt2 {
			text-align: center;
		}

		&__middle {
			display: none;
		}

		&__container {
			display: block;
		}

		&__right {
			padding-top: 0;
		}
	}
}


.repair-list {

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 40px;
		column-gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap:23px;
		background: #FFFFFF;
		border: 2px solid #fff;
		border-radius: 11px;
		box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
		height: 320px;
		text-decoration: none;
		padding: 0 30px;

		&:hover {
			border: 2px solid #A88EED;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		color: #2F2254;
		text-align: center;
	}

	&__btn {
		display: flex;
		justify-content: center;
		padding-top: 50px;

	}

	@media (max-width: 992px) {
		&__container {
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}
	}

	@media (max-width: 768px) {
		&__container {
			grid-template-columns: 1fr;
		}
	}
}

.why-us {

	&__container {
		display: grid;
		grid-template-columns: 1fr 355px;
		gap: 15px;
	}

	&__img {
		grid-column: 2;
		grid-row: 1 / 3 span;
	}

	&__icons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	&__bg {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		background: #A88EED;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 16px;
	}

	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 14px;
		line-height: 120%;
		color: #2F2254;
		width: 150px;
	}

	@media (max-width: 992px) {
		&__container {
			display: block;
		}

		&__text {
			text-align: center;
			margin-bottom: 30px;
		}

		&__img {
			display: none;
		}
	}

	@media (max-width: 762px) {
		&__icons {
			grid-template-columns: 1fr;
			justify-items: center;
			gap: 35px;
		}

		&__icon {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			text-align: center;
			width: auto;
		}
	}
}

.repair-detail {

	&__container {
		display: grid;
		grid-template-columns: 1fr 325px;
	}

	&__image {
		grid-column: 2;
		grid-row: 3 span;
	}

	&__text {
		margin-bottom: 1rem;
	}

	&__buttons {
		display: flex;
		gap: 27px;
	}

	@media (max-width: 992px) {
		&__container {
			display: block;
		}

		&__image {
			display: none;
		}

		&__buttons {
			justify-content: center;
		}

		&__text {
			text-align: center;
		}
	}

	@media (max-width: 768px) {
		&__buttons {
			flex-direction: column;
		}
	}
}

.repair-problems {

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #FFFFFF;
		border-radius: 11px;
		box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
		height: 145px;
		font-family: 'Montserrat', sans-serif;
	}

	&__title {
		text-align: center;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #2F2254;
		height: 50px;
		display: flex;
		align-items: center;
	}

	&__price {
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
		text-align: center;
		color: #A88EED;
	}

	@media (max-width: 992px) {
		&__container {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (max-width: 768px) {
		&__container {
			grid-template-columns: 1fr;
		}
	}
}


.tabs {
	background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
	border-radius: 22px;
	display: inline-flex;

	&__item {
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFFFF;
		padding: 0 15px;
		background: rgba(255, 255, 255, .5);
		cursor: pointer;

		&.selected {
			background: transparent;
		}
	}

	&--lg &__item {
		font-weight: 400;
		padding: 0 30px;
		line-height: 15px;
		height: 39px;
		text-align: center;
	}

	@media (max-width: 768px) {
		&--lg &__item, &__item {
			font-size: 12px;
			padding: 0 5px;
		}
	}
}

.contacts {

	&__maps {
		border: 6px solid #FFFFFF;
		box-sizing: border-box;
		height: 438px;
		width: 677px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		top: 37px;
		left: 439px;
		border-radius: 0 20px 20px 0;
		overflow: hidden;
		position: absolute;
		z-index: 1;
	}

	&__map {
		width: 100%;
		height: 100%;

		ymap {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__company-details{
		display: none;
	}

	&__company-metro {
		justify-content: center;
		margin-bottom: 20px;
	}

	&__company-btn {
		margin-top: 25px;
	}

	&__company-item {
		background: #FFFFFF;
		box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		padding: 8px;

		&-border {
			border: 1px solid #DDE3E6;
			border-radius: 4px;
			padding: 38px 28px;
		}
		&-sides {
			display: grid;
			grid-template-columns: 1fr 1fr;

			&>div:last-child {
				padding-left: 40px;
				border-left: 1px solid #000000;
			}
		}
	}

	&__info-container {
		position: relative;
	}

	&__info-items {
		width: 445px;
		height: 512px;
		background: #FFFFFF;
		box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
		border-radius: 8px;
		padding: 8px;
		position: relative;
		z-index: 2;
	}

	&__info-item {
		border: 1px solid #DDE3E6;
		border-radius: 4px;
		height: 100%;
		padding: 38px 28px;
	}

	&__tabs {
		margin-bottom: 20px;
	}

	&__btn-route {
		margin-top: 12px;
	}

	&__info-metro {
		position: absolute;
		top: 0;
		left: 478px;
	}

	&__info-social {
		margin-top: 10px;
	}

	@media (max-width: 1200px) {
		&__info-metro {
			position: static;
			justify-content: center;
			margin-bottom: 20px;
		}

		&__info-items {
			height: auto;
			width: auto;
			margin-bottom: 40px;
		}

		&__info-item {
			padding: 38px 5px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__maps {
			height: 438px;
			width: auto;
			position: static;
			border-radius: 20px;
		}
	}

	@media (max-width: 992px) {
		&__company-item {

			&-border {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 38px 5px;
			}

			&-sides {
				display: grid;
				grid-template-columns: 1fr;
				text-align: center;

				&>div:last-child {
					padding-left: 0;
					border-left: none;
				}
			}
		}

		&__company-metro, &__info-metro {
			flex-direction: column;
			align-items: center;
			gap: 20px !important;
		}
	}
}

.metro-tabs {
	display: flex;
	gap: 40px;

	&__item {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #2F2254;
		display: flex;
		align-items: center;
		gap: 15px;
		cursor: pointer;
		filter: grayscale(1);

		&.selected {
			filter: grayscale(0);
		}

		&:before {
			display: block;
			content: '';
			@include sprite($metro);
			margin-bottom: 2px;
		}
	}
}

.info {
	&__title {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		color: #777777;
	}

	&__value {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		color: #2F2254;
	}

	&__comment {
		display: inline;
		font-family: "Hind Madurai", sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #777777;
	}

	& + & {
		margin-top: 20px;
	}
}

.brands {
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 20px;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 145px;
		box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
		border-radius: 11px;
	}

	@media (max-width: 1200px) {
		&__container {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@media (max-width: 992px) {
		&__container {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (max-width: 576px) {
		&__container {
			grid-template-columns: 1fr;
		}
	}
}

.printers {
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 25px;
	}

	&__item {
		display: grid;
		text-decoration: none;
		gap: 20px;
		box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
		border-radius: 11px;
		padding: 25px 20px;

		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #2F2254;
		border: 1px solid #FFFFFF;

		&:hover {
			color: #2F2254;
			border: 1px solid #A88EED;
		}
	}

	&__img {
		height: 100px;
		width: 100%;
		object-fit: contain;
	}

	@media (max-width: 1200px) {
		&__container {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@media (max-width: 992px) {
		&__container {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (max-width: 576px) {
		&__container {
			grid-template-columns: 1fr;
		}
	}
}

.btn-buy {
	width: 30px;
	height: 30px;
	background: #A88EED;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;

	&:before {
		display: block;
		content: '';
		background: url("../img/buy.svg") center center no-repeat;
		background-size: contain;
		//background-color: red;
		width: 51%;
		height: 51%;
	}
}

.cartridge-list {
	display: grid;
	grid-template-columns: 250px 1fr;
	column-gap: 70px;
	row-gap: 30px;

	&__sidebar {
		grid-row: 2 / 2 span;
	}

	&__price-filter {
		border-bottom: 1px solid #F3F3F3;
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 25px;
		grid-column: 2;
	}

	&__mode {
		display: flex;
		gap: 10px;
		margin-left: auto;
	}

	&__items {
		display: grid;
		gap: 10px;
	}

	&__btn-filter {
		display: none;
	}

	@media (max-width: 1200px) {
		column-gap: 30px;
	}

	@media (max-width: 992px) {
		grid-template-columns: 1fr;

		&__header {
			grid-column: 1;
		}

		&__sidebar {
			grid-row: 2;
		}

		&__menu {
			display: none;
		}

		&__btn-filter {
			display: inline-block;
			margin-left: auto;
		}

		&__mode {
			margin: 0;
		}

		&__price-filter {
			width: 50%;
			border-bottom: none;
			display: none;

			&.active {
				display: block;
			}
		}
	}

	@media (max-width: 768px) {
		&__price-filter {
			width: 100%;
		}
	}

	@media (max-width: 576px) {
		&__mode {
			display: none;
		}

		&__header {
			flex-direction: column;
		}

		&__sort, &__btn-filter {
			width: 100%;
		}
	}
}

.cartridge-tiles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;


	@media (max-width: 764px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 450px) {
		grid-template-columns: 1fr;
	}
}

.cartridge-tile {
	background: #FFFFFF;
	border: 1px solid #F3F3F3;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding-bottom: 16px;

	&__img-wrap {
		height: 200px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #F3F3F3;
		margin-bottom: 25px;
	}

	&__label {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	&__art {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: #777777;
		margin-bottom: 13px;
	}

	&__title {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color: #2F2254;
		text-decoration: none;
		margin-bottom: 25px;
		padding: 0 20px;
	}

	&__prices {
		margin-top: auto;
		display: flex;
		justify-content: space-evenly;
	}

	&__price-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__price-type {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: #777777;
	}

	&__price-value {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #BABABA;

		span {
			color: #A88EED;
		}
	}

	&__buy {
		margin-top: 9px;
	}
}

.cartridge-row {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 15px 13px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	border: 1px solid #FFFFFF;

	&:hover {
		border: 1px solid #A88EED;
	}

	&__img {
		width: 64px;
		margin-right: 22px;
		object-fit: contain;
	}

	&__main {
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		row-gap: 5px;
		align-items: center;
		width: 215px;
	}

	&__art {
		display: inline-block;
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: #777777;
	}

	&__label {
		display: inline-block;
		margin-left: 10px;
	}

	&__title {
		width: 100%;
		display: block;
		font-weight: 400;
		font-size: 14px;
		line-height: 14px;
		color: #2F2254;
		text-decoration: none;

		&:hover {
			color: #2F2254;
		}
	}

	&__price-block {
		margin: 0 20px 0 auto;
	}

	&__price-type {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: #777777;
	}

	&__price-value {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #BABABA;

		span {
			color: #A88EED;
		}
	}

	@media (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: space-between;

		&__main {
			width: calc(100% - 86px);
			max-width: calc(100% - 86px);
			margin-bottom: 20px;
		}

		&__price-block {
			margin: 0 20px 0 0;
		}

		&__buy {
			margin-right: auto;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	@media (max-width: 400px) {
		&__price-value {
			font-size: 12px;
		}
	}
}

.label {
	&:before {
		border-radius: 17px;
		font-weight: 400;
		font-size: 11px;
		line-height: 15px;
		padding: 0 9px;
	}

	color: #FFFFFF;

	&.lg:before {
		font-size: 14px;
		line-height: 24px;
	}

	&.new:before {
		content: 'В наличии';
		background: #A88EED;
	}

	&.in-stock:before {
		content: 'В наличии';
		background: #A88EED;
	}
}

.sidebar-menu {

	&__item {
		border-bottom: 1px solid #F3F3F3;
	}

	&__category {
		cursor: pointer;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__category-name {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: #A88EED;
		text-decoration: none;

		&:hover {
			color: #A88EED;
		}
	}

	&__arr {
		transition: transform ease .3s;
	}

	&__item.active &__arr {
		transform: rotate(180deg);
	}

	&__item.active &__subcategories {
		max-height: 170px;
		margin-bottom: 16px;
	}

	&__subcategories {
		display: flex;
		max-height: 0;
		overflow-y: scroll;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 0;
		transition: max-height ease .3s, margin-bottom ease .3s;

		&::-webkit-scrollbar
		{
			width: 4px;
			border-radius: 4px;
		}

		&::-webkit-scrollbar-track {
			background: #F3F3F3;
		}
		&::-webkit-scrollbar-thumb {
			background: #A88EED;
			border-radius: 4px;
		}
	}

	&__subcategory {
		display: block;
		text-decoration: none;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #777777;

		&.active {
			font-weight: 700;
			color: #9250B1;
		}
	}
}

.select {
	display: block;
	border: 1px solid #F3F3F3;
	border-radius: 17px;
	height: 32px;
	padding: 0 40px 0 13px;
	cursor: pointer;
	box-sizing: border-box;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;

	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.01em;
	color: #777777;

	background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2725 3.18e-08L12 0.754687L6 7L3.29884e-08 0.754688L0.723749 4.92901e-07L6 5.48698L11.2725 3.18e-08Z' fill='%23777777'/%3E%3C/svg%3E");
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;

	&.sm {
		height: 20px;
		border-radius: 4px;
		padding: 0 30px 0 7px;
	}

	&.purple{
		color: #FFFFFF;
		background-color: #A88EED;
		background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2458 0.290792C10.0584 0.104542 9.80498 0 9.5408 0C9.27661 0 9.02316 0.104542 8.8358 0.290792L5.2458 3.83079L1.7058 0.290792C1.51844 0.104542 1.26498 0 1.0008 0C0.736612 0 0.483161 0.104542 0.295798 0.290792C0.20207 0.383755 0.127675 0.494356 0.0769067 0.616216C0.026138 0.738075 0 0.868781 0 1.00079C0 1.1328 0.026138 1.26351 0.0769067 1.38537C0.127675 1.50723 0.20207 1.61783 0.295798 1.71079L4.5358 5.95079C4.62876 6.04452 4.73936 6.11891 4.86122 6.16968C4.98308 6.22045 5.11379 6.24659 5.2458 6.24659C5.37781 6.24659 5.50852 6.22045 5.63037 6.16968C5.75223 6.11891 5.86283 6.04452 5.9558 5.95079L10.2458 1.71079C10.3395 1.61783 10.4139 1.50723 10.4647 1.38537C10.5155 1.26351 10.5416 1.1328 10.5416 1.00079C10.5416 0.868781 10.5155 0.738075 10.4647 0.616216C10.4139 0.494356 10.3395 0.383755 10.2458 0.290792Z' fill='white'/%3E%3C/svg%3E");
	}

	option {
		font-weight:normal;
		color: #000000;
	}
	//background-size: .65em auto, 100%;

	//&::-ms-expand { display: none; }
	//&:hover { border-color: #888; }
	//&:focus { border-color: #aaa;
	//	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	//	box-shadow: 0 0 0 3px -moz-mac-focusring;
	//	color: #222;
	//	outline: none;
	//}

}

.arr {
	width: 9px;
	height: 9px;

	&:before {
		display: block;
		content: '';
		height: 100%;
		width: 100%;
		border-top: 1px solid #777777;
		border-left: 1px solid #777777;
	}

	&.up:before { transform: translate(0, 30%) rotate(45deg); }
	&.down:before { transform: translate(0, -30%) rotate(225deg); }
	&.right:before { transform: translate(-30%, 0%) rotate(135deg); }
	&.left:before { transform: translate(30%, 0%) rotate(315deg); }

}


.pagen {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;

	&__pages {
		display: flex;
		align-items: center;
		gap: 2px;
	}

	&__page {
		height: 20px;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.01em;
		color: #2F2254;
		padding: 0 7px;

		&.active {
			background: #A88EED;
		}
	}

	&__size-select {
		justify-self: center;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__total {
		justify-self: end;
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
		justify-items: center;
		gap: 15px;

		&__total {
			justify-self: center;
		}
	}
}

.fancybox {

	&-content {
		border-radius: 40px;
		padding: 8px !important;
		overflow: visible;
	}

	&-border {
		border: 0.5px solid #DDE3E5;
		border-radius: 34px;
		background: #FFFFFF;
		padding: 40px 36px;

		&-mobile {
			border: 0.5px solid #DDE3E5;
			border-radius: 34px;
			background: #FFFFFF;
			padding: 40px 36px;

			@media (max-width: 635px) {
				padding: 25px 9px;
			}
		}
	}

	&-close-small {
		background: linear-gradient(270.23deg, #8953B8 1.6%, #6550A0 96.41%);
		border-radius: 100%;
		width: 50px;
		height: 50px;
		opacity: 1;
		top: -14px !important;
		right: -12px !important;

		&:before, &:after {
			display: block;
			content: '';
			background: #fff;
			position: absolute;
			width: 26px;
			height: 2px;
			border-radius: 2px;
			top: 50%;
			left: 50%;
		}

		&:before {
			transform: translate(-50%, 0) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, 0) rotate(-45deg);
		}

		svg {
			display: none;
		}
	}
}

.noUi {

	&-target {
		height: 4px;
		box-shadow: none;
		border: none;
		background: #F3F3F3;
		border-radius: 6px;
	}

	&-connect {
		background: #A88EED;
	}

	&-handle {
		width: 15px !important;
		height: 15px !important;
		right: -7px !important;
		top: -6px !important;
		box-shadow: none;
		border: none;
		background: #A88EED;
		border-radius: 100%;
		cursor: pointer;

		&:before, &:after {
			display: none;
		}
	}
}

.price-filter {
	padding: 20px 0 26px;

	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: #A88EED;
		margin-bottom: 20px;
	}

	&__inputs {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 15px;
	}

	&__input-wrap {
		position: relative;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #BABABA;

		&:before, &:after {
			display: block;
			position: absolute;
			top: 12px;
		}

		&:before {
			left: 9px;
		}

		&:after {
			right: 9px;
			content: '₽';
		}

		&:first-child:before { content: 'от' }
		&:last-child:before { content: 'до' }
	}

	&__input {
		display: block;
		background: #F3F3F3;
		border-radius: 10px;
		height: 44px;
		width: 115px;
		border: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #A88EED;
		outline: none;
		padding: 0 20px 0 32px;


	}
}

.cartridge-detail {
	display: grid;
	grid-template-columns: 320px 1fr;
	gap: 60px;

	&__label {
		margin-bottom: 20px;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__tabs {
		margin-bottom: 25px;
	}

	&__options {
		display: grid;
		grid-template-columns: max-content max-content;
		gap: 60px;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		display: flex;
		align-items: center;
		color: #A88EED;
		margin-bottom: 15px;
	}

	&__form-item {
		margin-bottom: 15px;
	}

	&__lower {
		grid-column: 1 / 2 span
	}

	&__order {
		display: grid;
		grid-template-columns: 730px 1fr;
		margin-bottom: 30px;
	}

	&__qty-values {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;


		span {
			text-align: right;
			width: 10%;
			height: 20px;
		}
	}

	&__qty-slider {
		padding-left: 10%;
		margin-bottom: 15px;
		position: relative;

		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 100%;
			border-radius: 6px;
			height: 10px;
			background: #A88EED;
			left: 0;

		}

		.noUi {
			&-target {
				height: 10px;
				box-shadow: none;
				border: none;
				border-radius: 6px;
			}

			&-handle {
				width: 20px !important;
				height: 20px !important;
				right: -8px !important;
				top: -5px !important;
			}
		}
	}

	&__price-values {
		display: flex;
		padding-left: 5%;
	}

	&__price-sample {
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #A88EED;
		width: 11%;
		text-align: center;

		span {
			color: #777777;
		}

		&:last-child {
			width: auto;
			margin-left: auto;
		}
	}

	&__result {
		display: flex;
		gap: 25px;
		margin-left: auto;
	}

	&__result-value {
		font-weight: 400;
		font-size: 36px;
		line-height: 50px;
		color: #BABABA;

		span {
			color: #A88EED;
			font-weight: bold;
		}
	}

	&__chars {
		margin-bottom: 30px;
	}

	@media (max-width: 1200px) {
		&__order {
			display: grid;
			grid-template-columns: 1fr;
			margin-bottom: 30px;
			row-gap: 50px;
		}

		&__result {
			display: flex;
			justify-content: center;
			gap: 25px;
			width: 100%;
		}
    }

	@media (max-width: 992px) {
		grid-template-columns: 1fr;

		&__slider {
			width: 320px;
			margin: 0 auto;
		}

		&__main {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__lower {
			grid-column: 1 span
		}
	}

	@media (max-width: 768px) {
		&__slider {
			width: 300px;
			margin: 0 auto;
		}

		&__price-sample {
			font-size: 12px;
			line-height: 17px;
		}

		&__options {
			grid-template-columns: 1fr;
			text-align: center;
			gap: 20px;
		}

		&__option {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__result-value {
			font-size: 28px;
		}

		&__price-values {
			padding: 0;
		}

		&__price-sample {
			width: auto;
			padding-right: 5px;
		}

		&__qty-slider {
			padding: 0 10px;
			&:before {
				display: none;
			}
		}

		&__qty-values {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			padding: 0;

			span {
				width: 20px;
				height: 20px;
				//overflow: hidden;
				text-align: center;
			}
		}
	}
}

.chars {
	display: grid;
	row-gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.01em;
	color: #2F2254;

	&__row {
		border-radius: 8px;
		display: grid;
		grid-template-columns: 1fr 150px;
		background: #EDE7FF;
		align-items: center;
		height: 38px;
		padding: 0 13px;

		&:nth-child(even) {
			background: #FAF8FC;
		}

		&:hover {
			background: #A88EED;
			color: #FFFFFF;
		}
	}

	&__value {
		font-weight: 700;
		letter-spacing: 0.01em;
	}
}

.sync-slider {

&__main {
    position: relative;
    .slick-arrow {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        transform: translate(0, -50%);

        &:before, &:after {
            content: '';
            display: block;
            height: 2px;
            width: 12px;
            background: #C7C7C7;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 2px;
        }

        &:before { transform: translate(-5px, -4px) rotate(45deg); }
        &:after { transform: translate(-5px, 3px) rotate(-45deg); }

        &:hover {
            background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);

            &:before, &:after {
                background: #fff;
            }
        }

        &.slick-next {
            right: 5px;
        }
        &.slick-prev {
            left: 5px;
            z-index: 10;
            transform: translate(0, -50%) rotate(180deg);
        }
    }
}

&__main-item {
    width: 100%;
    position: relative;
    padding: 8px;
    border: 1px solid #A88EED;
    border-radius: 10px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
    }

    &:before {
        content: '';
        display: block;
        width: 0;
        padding-bottom: 100%;
    }
}

&__nav {
    margin: 0 -5px;
}

&__nav-item {
    padding: 5px;
    overflow: hidden;
    width: calc(25% - 5px);
    box-sizing: border-box;
    position: relative;

    &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

&__nav-item-inner {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #A88EED;
    border-radius: 10px;
    padding: 7px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

//@include media-breakpoint-down(sm) {
//	&__main-item {
//		height: auto !important;
//
//		&:before {
//			padding-bottom: 80%;
//		}
//	}
//
//	&__nav {
//		display: none !important;
//	}
//}
}

.price-popup {
	&__line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	&__title {
		margin-bottom: 0;
	}

	@media (max-width: 992px) {
		&__line {
			&--top {
				flex-direction: column;
				gap: 36px;
			}
		}
	}

	@media (max-width: 576px) {
		&__line {
			&--bottom {
				flex-direction: column;
				gap: 10px;
				align-items: stretch;
			}
		}
	}
}

.price-table {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.01em;
	color: #2F2254;
	width: 900px;
	max-width: 100%;

	&__body {
		display: grid;
		gap: 10px;
	}

	&__row {
		display: grid;

		&--type1 { grid-template-columns: 130px 1fr 120px 120px; }

		&--type2 { grid-template-columns: 1fr 150px; }
	}

	&__header &__row {
		text-transform: uppercase;
	}

	&__body &__row {
		background: #FAF8FC;
		border-radius: 8px;

		&:nth-child(odd) {
			background: #EDE7FF;
		}

		&:hover {
			background: #A88EED;
			color: #FFFFFF;
		}
	}

	&__title {
		display: none;
	}

	&__col {
		padding: 10px 13px;
	}

	@media (max-width: 635px) {
		&__header {
			display: none;
		}

		&__body &__row--type1 {
			background: #FFFFFF !important;
			color: #2F2254 !important;
		}

		&__body &__row--type1 &__col {
			&:nth-child(2) { border-radius: 8px 8px 0 0; }
			&:last-child { border-radius: 0 0 8px 8px; }
		}
		&__body &__row--type1:nth-child(even) &__col {
			background: #FAF8FC;
		}

		&__body &__row--type1:nth-child(odd) &__col {
			background: #EDE7FF;
		}

		&__title {
			display: block;
			padding: 10px 13px 10px 0;
			background: #FFFFFF;
			text-transform: uppercase;
		}

		&__body &__row--type1 {
			display: grid;
			grid-template-columns: min-content 1fr;
		}

		&__body &__row--type2 {
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}
}

.social-radio {
	display: flex;
	justify-content: center;
	gap: 10px;

	&__radio {
		display: none;
	}

	&__icon {
		cursor: pointer;
		&.ph { @include sprite($ph-light); }
		&.wa { @include sprite($wa-light); }
		&.vi { @include sprite($vi-light); }
		&.vk { @include sprite($vk-light); }
		&.tg { @include sprite($tg-light); }
	}

	&__radio:checked + &__icon {
		&.ph { @include sprite($ph-dark); }
		&.wa { @include sprite($wa-dark); }
		&.vi { @include sprite($vi-dark); }
		&.vk { @include sprite($vk-dark); }
		&.tg { @include sprite($tg-dark); }
	}
}

.form {
	width: 300px;
	max-width: 100%;

	input {
		height: 40px;
		background: #F4F4F4;
		border-radius: 30px;
		border: none;
		padding: 0 15px;
		width: 100%;
		outline: none;
	}

	&__row {
		margin-bottom: 15px;
		display: grid;
		gap: 16px;


		&--w40x60 {
			grid-template-columns: 4fr 6fr;
		}
	}

	&__social-title {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		color: #2F2254;
		margin: 30px 0 20px;
		text-align: center;
	}

	&__btn-wrap {
		display: flex;
		justify-content: center;
		margin-top: 27px;
	}
}

.form-success {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__text {
		width: 340px;
		max-width: 100%;
		padding: 20px 30px 35px;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		text-align: center;
		color: #777777;

	}
}
