// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$address-name: 'address';
$address-x: 75px;
$address-y: 102px;
$address-offset-x: -75px;
$address-offset-y: -102px;
$address-width: 13px;
$address-height: 15px;
$address-total-width: 132px;
$address-total-height: 132px;
$address-image: 'sprite.png';
$address: (75px, 102px, -75px, -102px, 13px, 15px, 132px, 132px, 'sprite.png', 'address', );
$metro-name: 'metro';
$metro-x: 30px;
$metro-y: 102px;
$metro-offset-x: -30px;
$metro-offset-y: -102px;
$metro-width: 29px;
$metro-height: 20px;
$metro-total-width: 132px;
$metro-total-height: 132px;
$metro-image: 'sprite.png';
$metro: (30px, 102px, -30px, -102px, 29px, 20px, 132px, 132px, 'sprite.png', 'metro', );
$ph-dark-name: 'ph-dark';
$ph-dark-x: 36px;
$ph-dark-y: 36px;
$ph-dark-offset-x: -36px;
$ph-dark-offset-y: -36px;
$ph-dark-width: 30px;
$ph-dark-height: 30px;
$ph-dark-total-width: 132px;
$ph-dark-total-height: 132px;
$ph-dark-image: 'sprite.png';
$ph-dark: (36px, 36px, -36px, -36px, 30px, 30px, 132px, 132px, 'sprite.png', 'ph-dark', );
$ph-light-name: 'ph-light';
$ph-light-x: 72px;
$ph-light-y: 0px;
$ph-light-offset-x: -72px;
$ph-light-offset-y: 0px;
$ph-light-width: 30px;
$ph-light-height: 30px;
$ph-light-total-width: 132px;
$ph-light-total-height: 132px;
$ph-light-image: 'sprite.png';
$ph-light: (72px, 0px, -72px, 0px, 30px, 30px, 132px, 132px, 'sprite.png', 'ph-light', );
$phone-name: 'phone';
$phone-x: 59px;
$phone-y: 102px;
$phone-offset-x: -59px;
$phone-offset-y: -102px;
$phone-width: 16px;
$phone-height: 16px;
$phone-total-width: 132px;
$phone-total-height: 132px;
$phone-image: 'sprite.png';
$phone: (59px, 102px, -59px, -102px, 16px, 16px, 132px, 132px, 'sprite.png', 'phone', );
$tg-dark-name: 'tg-dark';
$tg-dark-x: 72px;
$tg-dark-y: 30px;
$tg-dark-offset-x: -72px;
$tg-dark-offset-y: -30px;
$tg-dark-width: 30px;
$tg-dark-height: 30px;
$tg-dark-total-width: 132px;
$tg-dark-total-height: 132px;
$tg-dark-image: 'sprite.png';
$tg-dark: (72px, 30px, -72px, -30px, 30px, 30px, 132px, 132px, 'sprite.png', 'tg-dark', );
$tg-light-name: 'tg-light';
$tg-light-x: 0px;
$tg-light-y: 72px;
$tg-light-offset-x: 0px;
$tg-light-offset-y: -72px;
$tg-light-width: 30px;
$tg-light-height: 30px;
$tg-light-total-width: 132px;
$tg-light-total-height: 132px;
$tg-light-image: 'sprite.png';
$tg-light: (0px, 72px, 0px, -72px, 30px, 30px, 132px, 132px, 'sprite.png', 'tg-light', );
$tg-name: 'tg';
$tg-x: 0px;
$tg-y: 0px;
$tg-offset-x: 0px;
$tg-offset-y: 0px;
$tg-width: 36px;
$tg-height: 36px;
$tg-total-width: 132px;
$tg-total-height: 132px;
$tg-image: 'sprite.png';
$tg: (0px, 0px, 0px, 0px, 36px, 36px, 132px, 132px, 'sprite.png', 'tg', );
$vi-dark-name: 'vi-dark';
$vi-dark-x: 30px;
$vi-dark-y: 72px;
$vi-dark-offset-x: -30px;
$vi-dark-offset-y: -72px;
$vi-dark-width: 30px;
$vi-dark-height: 30px;
$vi-dark-total-width: 132px;
$vi-dark-total-height: 132px;
$vi-dark-image: 'sprite.png';
$vi-dark: (30px, 72px, -30px, -72px, 30px, 30px, 132px, 132px, 'sprite.png', 'vi-dark', );
$vi-light-name: 'vi-light';
$vi-light-x: 60px;
$vi-light-y: 72px;
$vi-light-offset-x: -60px;
$vi-light-offset-y: -72px;
$vi-light-width: 30px;
$vi-light-height: 30px;
$vi-light-total-width: 132px;
$vi-light-total-height: 132px;
$vi-light-image: 'sprite.png';
$vi-light: (60px, 72px, -60px, -72px, 30px, 30px, 132px, 132px, 'sprite.png', 'vi-light', );
$vk-dark-name: 'vk-dark';
$vk-dark-x: 102px;
$vk-dark-y: 0px;
$vk-dark-offset-x: -102px;
$vk-dark-offset-y: 0px;
$vk-dark-width: 30px;
$vk-dark-height: 30px;
$vk-dark-total-width: 132px;
$vk-dark-total-height: 132px;
$vk-dark-image: 'sprite.png';
$vk-dark: (102px, 0px, -102px, 0px, 30px, 30px, 132px, 132px, 'sprite.png', 'vk-dark', );
$vk-light-name: 'vk-light';
$vk-light-x: 102px;
$vk-light-y: 30px;
$vk-light-offset-x: -102px;
$vk-light-offset-y: -30px;
$vk-light-width: 30px;
$vk-light-height: 30px;
$vk-light-total-width: 132px;
$vk-light-total-height: 132px;
$vk-light-image: 'sprite.png';
$vk-light: (102px, 30px, -102px, -30px, 30px, 30px, 132px, 132px, 'sprite.png', 'vk-light', );
$vk-name: 'vk';
$vk-x: 36px;
$vk-y: 0px;
$vk-offset-x: -36px;
$vk-offset-y: 0px;
$vk-width: 36px;
$vk-height: 36px;
$vk-total-width: 132px;
$vk-total-height: 132px;
$vk-image: 'sprite.png';
$vk: (36px, 0px, -36px, 0px, 36px, 36px, 132px, 132px, 'sprite.png', 'vk', );
$wa-dark-name: 'wa-dark';
$wa-dark-x: 102px;
$wa-dark-y: 60px;
$wa-dark-offset-x: -102px;
$wa-dark-offset-y: -60px;
$wa-dark-width: 30px;
$wa-dark-height: 30px;
$wa-dark-total-width: 132px;
$wa-dark-total-height: 132px;
$wa-dark-image: 'sprite.png';
$wa-dark: (102px, 60px, -102px, -60px, 30px, 30px, 132px, 132px, 'sprite.png', 'wa-dark', );
$wa-light-name: 'wa-light';
$wa-light-x: 0px;
$wa-light-y: 102px;
$wa-light-offset-x: 0px;
$wa-light-offset-y: -102px;
$wa-light-width: 30px;
$wa-light-height: 30px;
$wa-light-total-width: 132px;
$wa-light-total-height: 132px;
$wa-light-image: 'sprite.png';
$wa-light: (0px, 102px, 0px, -102px, 30px, 30px, 132px, 132px, 'sprite.png', 'wa-light', );
$wa-name: 'wa';
$wa-x: 0px;
$wa-y: 36px;
$wa-offset-x: 0px;
$wa-offset-y: -36px;
$wa-width: 36px;
$wa-height: 36px;
$wa-total-width: 132px;
$wa-total-height: 132px;
$wa-image: 'sprite.png';
$wa: (0px, 36px, 0px, -36px, 36px, 36px, 132px, 132px, 'sprite.png', 'wa', );
$spritesheet-width: 132px;
$spritesheet-height: 132px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($address, $metro, $ph-dark, $ph-light, $phone, $tg-dark, $tg-light, $tg, $vi-dark, $vi-light, $vk-dark, $vk-light, $vk, $wa-dark, $wa-light, $wa, );
$spritesheet: (132px, 132px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
