@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Hind Madurai', sans-serif;
}
.btn.btn-gr {
    height:32px;
    margin-left:25px;
    padding:.4em 1rem;
    background: linear-gradient(270.23deg, #8953B8 1.6%, #6550A0 96.41%);
    border-radius: 30px;
    filter: drop-shadow(0px 4px 10px rgba(188, 85, 212, 0.3));
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color:#fff;
}
.btn.btn-gr2 {
    height:47px;
    padding:14px 1rem;
    background: linear-gradient(270.23deg, #8953B8 1.6%, #6550A0 96.41%);
    border-radius: 30px;
    filter: drop-shadow(0px 4px 10px rgba(188, 85, 212, 0.3));
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:#fff;
}
h2.headin {
    text-align:center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F2254;
    background:url('../img2/icons/lines.png') bottom center no-repeat;
    padding-bottom:15px;
    margin-bottom:50px;
}

header > .navbar.navbar-white {
    background-color:#fff;
    padding:26px 0;
}
.navbar-brand {
    margin-right:30px;
    margin-top: -5px;
    background: linear-gradient(270.23deg, #8953B8 1.6%, #6550A0 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.navbar .navbar-toggler:focus {
    box-shadow:none;
}
.navbar .navbar-toggler.vrtclviz {
    position: absolute;
    top: 40px;
    right: 10%;
}
.navbar .navbar-toggler.hrzntlviz > .second,
.navbar .navbar-toggler.vrtclviz > .first {
    display:none;
}
.navbar  ul > li > .nav-link {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color:#2F2254;
}
.navbar  ul > li > .nav-link.active {
    color:#A88EED;
    font-weight:700;
    text-decoration:underline;
}
.navbar  ul > li > .nav-link:hover {
    text-decoration:underline;
}
.navbar .d-flex {
    height:32px;
    background: url('../img2/icons/find.png') 95% center no-repeat #A88EED;
    border-radius:17px;
}
.navbar .d-flex .form-control.fc-transparent {
    background: transparent;
    outline: none;
    border: 0;
    font-size:14px;
    line-height:20px;
    color:#fff;
}
.navbar .d-flex .form-control.fc-transparent:focus {
    outline: none;
    box-shadow: none;
}
.navbar .d-flex .form-control.fc-transparent::placeholder {
    color:#fff;
}

.carousel > .container {
    position:relative;
}
.carousel .carousel-indicators {
    flex-direction: column;
    margin: 0;
    left: auto;
    right: 10%;
    top: 200px;
    bottom: auto;
}
.carousel .carousel-indicators .carousel-control-prev,
.carousel .carousel-indicators .carousel-control-next {
    position:static;
    display:block;
    width:12px;
    height:8px;
    padding:0;
    background:url('../img2/control/to_top.png') center center no-repeat;
    opacity:.5;
}
.carousel .carousel-indicators .carousel-control-next {
    transform:rotate(180deg);
}
.carousel .carousel-indicators .carousel-control-prev:hover,
.carousel .carousel-indicators .carousel-control-next:hover {
    opacity:1;
}
.carousel .carousel-indicators .carousel-dot {
    display:block;
    width:12px;
    height:6px;
    background:url('../img2/control/dot.png') center center no-repeat;
    opacity:.5;
}
.carousel .carousel-indicators .carousel-dot.active {
    opacity:1;
}
.carousel .carousel-social {
    position: absolute;
    right: 10%;
    bottom: 50px;
    width: 40px;
    margin-right: -13px;
    z-index: 10;
}
.carousel .carousel-social a {
    width:36px;
    height:36px;
    display:block;
    margin-bottom:15px;
}
.carousel-item {
    min-height: 598px;
    background: url(../img2/bgs/bg_1.jpg) center center no-repeat;
    background-size: cover;
}
.carousel-item > img {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.carousel-item .carousel-caption {
    position: relative;
    bottom: auto;
    padding: 100px 0 0;
    left: auto;
    right: auto;
}
.carousel-item .carousel-caption h2 {
    font-family: 'Montserrat', 'Hind Madurai', sans-serif;;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom:30px;
}
.carousel-item .carousel-caption .carousel-text {
    margin-bottom:40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.carousel-item .carousel-caption .mb-40 {
    margin-bottom:40px;
}
.carousel-item .carousel-caption .btn.btn-gr2 {
    margin-bottom: 20px;
    margin-right:25px;
}
.carousel-item .carousel-caption .text-phone {
    padding-left:20px;
    background:url('../img2/icons/phone.png') left top no-repeat;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color:#fff;
}
.carousel-item .carousel-caption .text-phone > a {
    font-family: 'Montserrat';
    text-decoration:none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color:#fff;
}
.carousel-item .carousel-caption .text-adres {
    margin-left: -25px;
    padding-left:20px;
    background:url('../img2/icons/pin.png') left top no-repeat;
    font-size: 16px;
    line-height: 19px;
}

.reasons {
    padding-top:90px;
}
.reasons h2 {
    margin-bottom: 30px;
    text-align:left;
    background:url('../img2/icons/lines.png') bottom left no-repeat;
}
.reasons .text {
    margin-bottom:35px;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
.reasons .text-reasons {
    font-family: 'Montserrat';
    margin-top:15px;
    font-size: 14px;
    font-weight:700;
    line-height: 120%;
    color: #2F2254;
}
.form-box {
    padding:8px;
    background: #FFFFFF;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.form-box .fb-inside {
    padding:20px 25px 40px;
    border: 0.5px solid #DDE3E6;
    border-radius: 4px;
}
.form-box .fb-inside .headin {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F2254;
}
.form-box .fb-inside .text {
    margin-bottom:30px;
    font-size: 14px;
    line-height: 19px;
    color: #777777;
}
.form-box .fb-inside .form-control {
    padding:10px 25px;
    background: #F4F4F4;
    border-radius: 20px;
    border:0;
    margin-bottom:20px;
    font-size: 14px;
    line-height: 19px;
    color:#888;
}
.form-box .fb-inside .btn.btn-gr2 {
    padding: 14px 30px;
}

.services .srvcs-box {
    padding:30px 27px 105px;
    text-align:center;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border: 2px solid #fff;
    border-radius: 11px;
}
.services .srvcs-box:hover {
    border: 2px solid #A88EED;
}
.services .srvcs-box .headin {
    margin:0 50px 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #2F2254;
}
.services .srvcs-box .text {
    margin-bottom:50px;
    text-align:left;
    font-size: 14px;
    line-height: 19px;
    color: #2F2254;
}
.services .srvcs-box a {
    display:block;
    float:left;
    max-width: 50%;
    text-decoration:none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #6550A0;
}
.services .srvcs-box a:hover {
    color: #B860E1;
}
.services .srvcs-box img {
    float:right;
}

.populars {
    padding:70px 0;
}
.slick-carousel .slick-arrow {
    display:block;
    position:absolute;
    width:51px;
    height:51px;
    top: 35%;
    background-color: transparent;
    border: 0;
    padding: 0;
    z-index:1010;
}
.slick-carousel .slick-arrow.slick-prev {
    background:url('../img2/control/arrow.png') center center no-repeat, transparent;
    left: -15px;
}
.slick-carousel .slick-arrow.slick-next {
    background:url('../img2/control/arrow.png') center center no-repeat, transparent;
    transform:rotate(180deg);
    right:-15px;
}
.slick-carousel .slick-arrow:hover {
    background:url('../img2/control/arrow_hover.png') center center no-repeat;
}

.prices {
    padding:65px 0;
    background: url('../img2/bgs/bg_2.jpg') top center no-repeat;
    background-size: cover;
}
.prices .headin {
    color: #FFFFFF;
    background:transparent;
    margin-bottom:25px;
}
.prices .nav-pills {
    justify-content: center;
    width:100%;
}
.prices .nav-pills .nav-item {
    width: 33.33%;
    text-align: center;
}
.prices .nav-pills .nav-item .nav-link {
    width: 100%;
    background: #CABEED;
    border-radius: 0;
    border-left:1px solid #A88EED;
    border-right:1px solid #A88EED;
    height: 61px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.prices .nav-pills .nav-item:first-child .nav-link {
    border-radius:30px 0 0 30px;
    border:0;
}
.prices .nav-pills .nav-item:last-child .nav-link {
    border-radius:0 30px 30px 0;
    border:0;
}
.prices .nav-pills .nav-item .nav-link.active {
    background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
}
.prices .tab-pane .headin-prices {
    margin:40px auto;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.prices .tab-pane .box {
    display:block;
    height:136px;
    margin-bottom:20px;
    padding:35px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.prices .tab-pane .box:hover,
.prices .tab-pane .box.active {
    background: linear-gradient(137.89deg, #6850A2 22.31%, #9250B1 85.81%, #B860E1 85.81%);
}
.prices .tab-pane .box p {
    float:left;
    width:60%;
    padding-top: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2F2254;
}
.prices .tab-pane .box:hover p,
.prices .tab-pane .box.active p {
    color: #fff;
}
.prices .tab-pane .box img {
    float:right;
    max-width:40%;
}
.prices .tab-pane .btn.btn-gr2.first {
    display: block;
    width: 150px;
    margin:50px auto 0;
}
.prices .tab-pane p.headin {
    margin-bottom:5px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.prices .tab-pane p.text {
    margin-bottom:20px;
    font-size: 12px;
    line-height: 17px;
    color: #CABEED;
}
.prices .tab-pane .form-check {
    margin-bottom:15px;
}
.prices .tab-pane .form-check .form-check-input {
    width: 21px;
    height: 21px;
    margin-top: 0;
    margin-right: 10px;
    background: #FFFFFF;
    border:0;
    border-radius: 3px;
}
.prices .tab-pane .form-check .form-check-input:checked {
    border:0;
    background:url('../img2/control/checked.png') center center no-repeat;
}
.prices .tab-pane .form-check .form-check-label {
    font-size: 14px;
    line-height: 21px;
    color:#FFF;
}
.prices .tab-pane textarea.form-control {
    margin-bottom:35px;
}
.prices .tab-pane .padd-left {
    padding-left:75px;
}
.prices .tab-pane .btn.btn-gr2.mini {
    display: block;
    width: 150px;
    height:32px;
    margin:30px 0 0;
    padding: 6px;
}
.prices .tab-pane .btns-pn {
    margin: 0 -15px;
    text-align: center;
}
.prices .tab-pane .btns-pn .btn.btn-gr2 {
    margin:0 15px;
    padding:14px 45px;
}
.prices .tab-pane p.text2 {
    margin-bottom:25px;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.prices .tab-pane .price-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #A88EED;
}
.prices .tab-pane .price-number {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #A88EED;
}
.prices .tab-pane .borderline-top {
    border-left:1px solid #A88EED;
    padding-left:175px;
}
.prices .tab-pane .borderline-top .form-control {
    height: 40px;
    margin-bottom:20px;
    padding: 10px 15px;
    background: #F4F4F4;
    border-radius: 20px;
    font-size:14px;
    line-height: 19px;
}

.question {
    padding:70px 0;
}

footer {
    padding:40px 0 60px;
    background: #2F2254;
}
footer img.logo {
    margin-bottom:10px;
}
footer .text {
    margin-bottom:0;
    font-size: 14px;
    line-height: 19px;
    color:#fff;
}
footer .nav-item a {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
footer .nav-item a:hover,
footer .nav-item a.active {
    font-weight: 700;
    color: #A88EED;
}
footer .text-phone {
    width:200px;
    float:right;
    text-align:right;
    background:url('../img2/icons/phone.png') left top no-repeat;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color:#fff;
}
footer .text-phone > a {
    font-family: 'Montserrat';
    text-decoration:none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color:#fff;
}
footer .text-adres {
    width:250px;
    float:right;
    text-align:right;
    background:url('../img2/icons/pin.png') left top no-repeat;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
footer .social {
    float: right;
    text-align: right;
}

.payment header > .navbar.navbar-white {
    background: #2F2254;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.payment header > .navbar .navbar-brand {
    -webkit-text-fill-color: #fff;
    text-fill-color: #fff;
}
.payment header .navbar ul > li > .nav-link {
    color:#fff;
}
.payment header .navbar ul > li > .nav-link.active {
    color:#A88EED;
}


.payment_block {
    padding:70px 0 0;
}
.payment_block h2.headin {
    text-align:left;
    background-position-x: 0;
}
.payment_block .text {
    font-size: 14px;
    line-height: 19px;
    color: #777777;
}



@media (max-width:1199.99px) {
    .navbar .d-flex.vrtclviz {
        width: 265px;
        display: block!important;
        top: 75px;
        position: absolute;
    }
    .navbar .navbar-collapse {
        margin-top: 50px;
    }
    .navbar .btn.btn-gr.vrtclviz {
        margin-left: 0;
        margin-top:20px;
    }
    .carousel-item > img {
        display:none;
    }
    .carousel-item .carousel-caption {
        text-align:center;
        padding: 100px 80px 0;
    }
    .reasons h2,
    .reasons .text {
        background-position-x: 70px;
        text-align:center;
    }
    .form-box {
        margin-top:20px;
    }
    .form-box .fb-inside .headin {
        text-align:center;
    }
    .form-box .fb-inside .form-control {
        width:280px;
        margin: 0 auto 20px;
    }
    .form-box .fb-inside .btn.btn-gr2 {
        margin: 15px auto 0;
        width: 175px;
        display: block;
    }
    .services .srvcs-box {
        padding: 30px 15px 25px;
    }
    .services .srvcs-box .headin {
        margin: 0 auto 25px;
    }
    .services .srvcs-box .text {
        margin-bottom:15px;
        font-size: 13px;
    }
    .services .srvcs-box a {
        float: none;
        max-width: 100%;
    }
    .services .srvcs-box img {
        display:none;
    }
    .prices .tab-pane .padd-left {
        padding-top: 50px;
        padding-left: 0;
        border-top:1px solid #A88EED;
    }
    .prices .tab-pane .btns-pn {
        margin: 50px -25px 0;
        width: 400px;
        text-align: left;
    }
    .prices .tab-pane p.headin,
    .prices .tab-pane p.text2,
    .prices .tab-pane .price-text,
    .prices .tab-pane .price-number {
        text-align:center;
    }
    .prices .tab-pane .borderline-top {
        border-top: 1px solid #A88EED;
        border-left: 0;
        padding: 40px 160px;
        margin: 0 auto;
    }
    .prices .tab-pane .borderline-top > .text {
        text-align:center;
    }
    .prices .tab-pane .btns-pn.second {
        margin: 50px auto 0;
    }
    .question img {
        display:none;
    }
    .question .form-box .fb-inside .text {
        text-align:center;
    }
}
@media (max-width:767.99px) {
    .navbar .btn.btn-gr {
        display:none;
    }
    .navbar .btn.btn-gr.vrtclviz {
        display: inline-block;
    }
    .reasons h2, .reasons .text {
        background-position-x: center;
    }
    .reasons .col-xl-8 .col-md-3 {
        text-align:center;
    }
    .form-box {
        margin-top: 50px;
    }
    .services .srvcs-box {
        margin-bottom: 25px;
    }
    .populars .slick-slide img {
        margin: 0 auto;
    }
    .prices .tab-pane .padd-left {
        padding: 50px 20px 30px;
    }
    .prices .tab-pane .btns-pn {
        text-align: center;
    }
    .prices .tab-pane .borderline-top {
        padding: 40px 20px;
    }
    .prices .tab-pane .btns-pn.second {
        width:100%;
    }
    .prices .tab-pane .btns-pn.second .btn.btn-gr2 {
        margin: 0 5px;
        padding: 14px 35px;
    }
    footer {
        text-align: center;
    }
    footer .nav.flex-column {
        margin-top:45px;
        margin-bottom:45px;
    }
    footer .text-phone {
        width: 230px;
        float:none;
        text-align: center;
        margin: 0 auto 30px;
    }
    footer .text-adres {
        width: 275px;
        float: none;
        text-align: center;
        margin: 0 auto 30px;
    }
    footer .social {
        float: none;
        text-align: center;
    }
}



























