footer.b-footer
	._container.container
		div
			._logo Profi-Grand
			._copyright © Profi Grand servise, 2022 <br> Все права защищены
		nav.b-footer-menu._menu
			a._item(href="index.html",      class= page === "index" ? "active" : "") Главная
			a._item(href="repair.html",     class= page === "repair" ? "active" : "") Ремонт техники
			a._item(href="cartridges.html", class= page === "cartridges" ? "active" : "") Картриджи
			a._item(href="payment.html",    class= page === "payment" ? "active" : "") Оплата и доставка
			a._item(href="contacts.html",   class= page === "contacts" ? "active" : "") Контакты
		._contacts
			a.b-phone._phone.alt-font 8 (499) 922-02-21
				._schedule Пн-Пт с 10:00 до 19:00
			.b-address._address Москва, Большая Очаковская <br> улица, 47А, стр. 1
			._social
				.b-social.-wa
				.b-social.-tg
				.b-social.-vk
