header.b-header(class= page === "index" ? "inverse" : "")
	._container.container
		._logo Profi-Grand
		nav.b-header-menu._menu
			a._item.item(href="index.html",			class= page === "index" ? "active" : "") Главная
			a._item.item(href="repair.html",    	class= page === "repair" ? "active" : "") Ремонт техники
			a._item.item(href="brands.html",		class= page === "brands" ? "active" : "") Картриджи
			a._item.item(href="payment.html",    	class= page === "payment" ? "active" : "") Оплата и доставка
			a._item.item(href="contacts.html",   	class= page === "contacts" ? "active" : "") Контакты
		input._search(type="text" placeholder="Поиск")
		a.b-btn.-sm._phone 8 (499) 992-02-21
		.b-burger-menu._burger
			._inner
