- function r(arr) { return arr[ Math.floor( Math.random() * arr.length ) ] };


doctype html
html(lang='ru')
	block vars
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Profi-Grand
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/jquery.fancybox.css")
		link(rel="stylesheet" href="css/slick.css")
		link(rel="stylesheet" href="css/nouislider.min.css")
		link(rel="stylesheet" href="scss/main.css")
	body
		include header
		main.content
			block content
		include footer
		script(src="js/jquery.js")
		script(src="js/jquery.fancybox.js")
		script(src="js/bootstrap.min.js")
		script(src="js/slick.js")
		script(src="js/nouislider.min.js")
		script(src="js/main.js")






