extends template/layout
block vars
	- let page = "index"
block content
	include parts/banner
	include parts/services
	include parts/banner2
	include parts/populars.html
	include parts/calc.html
	include parts/reasons



