extends template/layout
block vars
	- let page = "payment"
block content
	section.section(style="padding-bottom:0")
		.container
			.title Оплата и доставка
			p Осуществляем доставку картриджей и выезд на вызовы ремонта техники по Москве и области. Время доставки в среднем занимает 2 часа, ремонт техники производится в течение 2 рабочих дней. По договоренности, можем привезти Вам домой или в офис картриджи, а также при вызове на ремонт техники, мастер может забрать технику с последующей доставкой обратно.
			p Оплата производится на месте наличными или картой. Приём рассчёта осуществляется картами МИР и Union Pay. При рассчёте наличными просим заранее предупреждать с какой суммы будет нужна сдача.
			p Если Вы хотите уточнить стоимость работ или получить консультацию свяжитесь с нами по номеру 8 (499) 992-02-21 или оставьте заявку и наш специалист перезвонит Вам в течении 10 минут.
	include parts/questions-left.html
