.b-banner2
	._container.container
		._left
			._txt1 Заправка любых картриджей
			._txt2 По самым демократичным ценам!
		._middle
		._right
			._product-name Картридж HP 415A (W2031A)
			.b-btn._btn от 1500 Р

