.b-banner
	._container.container
		._left
			h1._title Ответственный ремонт для хороших людей
			._desc Берёмся за то, что другие не могут. Делаем качественно и с гарантией.
			._buttons
				a.b-btn Заправить картриджи
				a.b-btn Купить картриджи
				a.b-btn Ремонт техники
			._bottom
				a.b-phone._phone.alt-font 8 (499) 922-02-21
					._schedule Пн-Пт с 10:00 до 19:00
				.b-address._address Москва, Большая Очаковская <br> улица, 47А, стр. 1
		._right
			._front
			._social
				.b-social.-wa.active
				.b-social.-tg.active
				.b-social.-vk.active
