<div class="prices">
    <div class="container">
        <h2 class="headin">Рассчитать стоимость ремонта Вашей техники</h2>

        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Шаг 1</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Шаг 2</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Шаг 3</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <p class="headin-prices">Что сломалось?</p>
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <a class="box" href="#">
                            <p>Телефон</p>
                            <img src="img/tmp/prices/1.png">
                        </a>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <a class="box" href="#">
                            <p>Планшет</p>
                            <img src="img/tmp/prices/2.png">
                        </a>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <a class="box" href="#">
                            <p>Компьютер</p>
                            <img src="img/tmp/prices/3.png">
                        </a>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <a class="box active" href="#">
                            <p>Ноутбук</p>
                            <img src="img/tmp/prices/4.png">
                        </a>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <a class="box" href="#">
                            <p>Принтер или МФУ</p>
                            <img src="img/tmp/prices/5.png">
                        </a>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <a class="box" href="#">
                            <p>Техника Apple</p>
                            <img src="img/tmp/prices/6.png">
                        </a>
                    </div>
                </div>
                <a class="btn btn-gr2 first" href="#">Дальше</a>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <p class="headin-prices">Описание проблемы</p>
                <div class="row">
                    <div class="col-xl-4 col-md-5">
                        <p class="headin">Что не так?</p>
                        <p class="text">Можно выбрать несколько вариантов</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="vkl">
                            <label class="form-check-label" for="flexCheckDefault">
                                Не включается
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="vikl">
                            <label class="form-check-label" for="flexCheckDefault">
                                Не выключается
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="power">
                            <label class="form-check-label" for="flexCheckDefault">
                                Не заряжается
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="display">
                            <label class="form-check-label" for="flexCheckDefault">
                                Не работает экран
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="error">
                            <label class="form-check-label" for="flexCheckDefault">
                                Выдаёт ошибку
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="other">
                            <label class="form-check-label" for="flexCheckDefault">
                                Другое
                            </label>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-7">
                        <p class="headin">Опишите проблему подробней</p>
                        <textarea class="form-control" rows="3"></textarea>
                        <p class="headin">Пробовали устранить проблему самостоятельно? Что делали?</p>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="col-xl-4 col-md-12 padd-left">
                        <p class="headin">Дополнительные услуги</p>
                        <p class="text">Можно выбрать несколько вариантов</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="master">
                            <label class="form-check-label" for="flexCheckDefault">
                                Нужен выезд мастера
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="delivery">
                            <label class="form-check-label" for="flexCheckDefault">
                                Доставка в сервис
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="delivery-back">
                            <label class="form-check-label" for="flexCheckDefault">
                                Доставка обратно после ремонта
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fast">
                            <label class="form-check-label" for="flexCheckDefault">
                                Нужно сделать срочно
                            </label>
                        </div>
                        <a class="btn btn-gr2 mini" href="#">Добавить гаджет</a>
                    </div>
                </div>
                <div class="btns-pn">
                    <a class="btn btn-gr2" href="#">Назад</a>
                    <a class="btn btn-gr2" href="#">Дальше</a>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <p class="headin-prices">Рассчёт завершён</p>
                <div class="row">
                    <div class="col-xl-6">
                        <p class="headin">Ноутбук:</p>
                        <p class="text2">Не работает экран;<br>
                            Не заряжается.</p>
                        <p class="headin">Описание проблемы:</p>
                        <p class="text2">Разлил чай на ноутбук, он включается, но экран не работает, не идет зарядка.</p>
                        <p class="headin">Пробовали устранить проблему самостоятельно? Что делали?</p>
                        <p class="text2">Пробовал разобрать и просушить, но не помогло.</p>
                        <p class="headin">Дополнительно:</p>
                        <p class="text2">Нужен выезд мастера;<br>
                            Доставка в сервис;<br>
                            Доставка обратно после ремонта.</p>
                        <p class="price-text">Приблизительная стоимость</p>
                        <p class="price-number">2 300 ₽</p>
                    </div>
                    <div class="col-xl-6 borderline-top">
                        <p class="headin">Оставьте заявку на ремонт</p>
                        <p class="text">Наш специалист свяжется с Вами в течение 10 минут.</p>
                        <input class="form-control" type="name" placeholder="Имя">
                        <input class="form-control" type="phone" placeholder="Телефон">
                        <input class="form-control" type="adres" placeholder="Ваш адрес">
                        <div class="btns-pn second">
                            <a class="btn btn-gr2" href="#">Назад</a>
                            <a class="btn btn-gr2" href="#">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
