extends cartridge-list

block items
	.cartridge-tiles
		each item in cartridges
			.b-cartridge-tile
				._img-wrap
					.label.new._label
					a(href="cartridge-detail.html")
						img._img(src="img/tmp/cartridge-tile.png")
				._art Код: 101001
				a._title(href="cartridge-detail.html")= item
				._prices
					._price-block
						._price-type Новый:
						._price-value от <span>8 930</span> ₽
						.btn-buy._buy
					._price-block
						._price-type Заправка:
						._price-value от <span>8 930</span> ₽
						.btn-buy._buy

