section.section
	h1.b-title Выберите нужный бренд
	.b-brands
		._container.container
			- let brand = 0;
			while brand < 12
				a._item(href="printers.html")
					img(src="img/tmp/brands/" + brand++ + ".png")

section.b-section
	h2.title Заправка картриджей
	._container.container
		._text
			p Наша компания профессионально занимается заправкой картриджей. Мы предлагаем услуги по заправке принтеров всех известных производителей как физическим, так и юридическим лицам. Мы заправляем картриджи только высококачественным тонером с соблюдением всех технологий, что гарантирует не только отличное качество печати, но и многократное использование одного и того же картриджа. Заправка картриджа – это не только более экономно, чем приобретение нового картриджа, но и более удобно. Мы выполняем свою работу быстро, поэтому вы экономите не только свои деньги, но и время.
			br
			a.b-btn(data-src="#price" data-fancybox) Прайс на заправку картриджей
		img._img(src="img/tmp/paints.png" style="position: relative; top: -80px;")




	-
		const priceItems = [
			[ "92274A", "LaserJet 4L, LaserJet 4ML, LaserJet 4P, LaserJet 4MP", "500 ₽ ", "1 200 ₽", ],
			[ "92298X", "LaserJet 4, LaserJet 4+, LaserJet 4M, LaserJet 4M+, LaserJet 5, LaserJet 5M, LaserJet 5NA", "800 ₽ ", "1 300 ₽", ],
			[ "C3903A", "LaserJet 4, LaserJet 4+, LaserJet 4M, LaserJet 4M+, LaserJet 5, LaserJet 5M, LaserJet 5N", "500 ₽ ", "1 300 ₽", ],
			[ "C4092A", "LaserJet 2100, LaserJet 2200", "1 000 ₽", "1 000 ₽", ],
			[ "C4127A", "LaserJet 4000, LaserJet 4050", "800 ₽ ", "1 000 ₽", ],
			[ "C4092A", "LaserJet 1100A, LaserJet 1100, LaserJet 3200", "1 000 ₽", "1 400 ₽", ],
			[ "C4096A", "LaserJet 5P, LaserJet 5MP, LaserJet 6P, LaserJet 6MP", "500 ₽ ", "900 ₽", ],
			[ "C4127A", "LaserJet 5L, LaserJet 6L, LaserJet 3100, LaserJet 3150", "1 000 ₽", "1 000 ₽", ],
			[ "C4127X", "LaserJet 4000, LaserJet 4050", "500 ₽ ", "900 ₽", ],
			[ "92298X", "LaserJet 4, LaserJet 4+, LaserJet 4M, LaserJet 4M+, LaserJet 5, LaserJet 5M, LaserJet 5N", "1 000 ₽", "1 000 ₽", ],
			[ "C3903A", "LaserJet 4L, LaserJet 4ML, LaserJet 4P, LaserJet 4MP", "800 ₽ ", "900 ₽", ],
			[ "C4092A", "LaserJet 2100, LaserJet 2200", "500 ₽ ", "1 400 ₽", ],
			[ "C4096A", "LaserJet 1100A, LaserJet 1100, LaserJet 3200", "500 ₽ ", "900 ₽", ],
		];
	div(style="display: none")
		div(id="price")
			.fancybox-border-mobile
				.b-price-popup
					._line.-top
						h2.b-title.-left._title Прайс заправки картриджей
						.b-btn.-sm 8 (499) 992-02-21
					._line.-bottom
						select.select.purple
							option HP
							option Xerox
							option Canon
							option Brother
						.b-btn.-sm Заказать звонок

					.b-price-table._table
						._header
							._row.-type1
								._col Картридж
								._col Принтер
								._col Заправка
								._col Новый
						._body
							each row in priceItems
								._row.-type1
									._title Картридж
									._col= row[0]
									._title Принтер
									._col= row[1]
									._title Заправка
									._col
										b= row[2]
									._title Новый
									._col
										b= row[3]



