

section.section
	.b-cartridge-detail.container
		.b-sync-slider._slider
			._main.js-slider-for
				each i in [ 0, 1, 0, 1, 0, 1 ]
					._main-item
						img(src="img/tmp/slider/for" + i + ".png")
			._nav.js-slider-nav
				each i in [ 0, 1, 0, 1, 0, 1 ]
					._nav-item
						._nav-item-inner
							img(src="img/tmp/slider/for" + i + ".png")
		._main
			.label.in-stock.lg._label
			h1.b-title.-left._title HP Color Laser 150anw / 178nw / 179fnw
			.b-tabs.-lg._tabs.js-tabs
				._item.selected(data-product-tab="fill") Заправка в офисе
				._item(data-product-tab="fill") Заправка на выезде
				._item(data-product-tab="new") Новый картридж
			._options
				._option(data-for-product-tab="new" style="display:none;")
					._subtitle Тип картриджа
					label.radio._form-item
						input(type="radio" name="qwe[]" checked)
						| Оригинальный картридж
					label.radio._form-item
						input(type="radio" name="qwe[]")
						| Аналог
				._option
					._subtitle Дополнительно
					label.cb._form-item(data-for-product-tab="fill")
						input(type="checkbox" name="asd[]" checked)
						| Замена чипа
					label.cb._form-item
						input(type="checkbox" name="asd[]")
						| Перепрошивка принтера
		._lower
			._subtitle Количество
			._order
				._quantity
					._qty-values
						span 1
						span 2
						span 3
						span 4
						span 5
						span 6
						span 7
						span 8
						span 9
						span 10...
					._qty-slider
						.js-qty-slider
					._price-values
						._price-sample 1 000 <span> ₽<span>
						._price-sample 850 <span> ₽<span>
						._price-sample 650 <span> ₽<span>
						._price-sample Индивидуальные цены
				._result
					._result-value от <span>8 490</span> ₽
					.b.btn(data-src="#buy" data-fancybox) Заказать
			._chars
				._subtitle Характеристики
				.b-chars
					._row
						._name Марка
						._value HP
					._row
						._name Ресурс
						._value 17 000 страниц
					._row
						._name Стоимость заправки
						._value от 1000 руб.
					._row
						._name Гарантия
						._value 6 месяцев
			._subtitle Описание
			p Значимость этих проблем настолько очевидна, что сложившаяся структура организации требуют от нас анализа дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.


		div(style="display: none")
			div(id="buy")
				.fancybox-border-mobile
					.b-form-success.js-form-success(style="display:none")
						img._icon(src="img/form-success.svg")
						._text Ваша заявка принята. В течение 10 минут с Вами свяжется наш специалист
						a.b-btn(href="index.html") На главную
					.b-form.js-form-content
						h2.b-title Оформить заказ
						._row
							input(placeholder="Имя")
						._row
							input(placeholder="Телефон")
						._row
							input(placeholder="Адрес")
						._row.-w40x60
							input(placeholder="Дом")
							input(placeholder="Квартира/офис")

						._social-title Выберите способ связи
						.b-social-radio._social
							each soc in ['ph', 'vi', 'tg', 'wa']
								label
									input._radio(type="radio" name="social[]" value=soc)
									._icon(class=soc)
						._btn-wrap
							.b-btn.js-form-send Оставить заявку
