-
	const cartridges = [
		"HP Color Laser 150anw / 178nw / 179fnw",
		"HP LaserJet 2400 / 2410 / 2420d",
		"HP Color Laser 150anw / 178nw / 179fnw HP Color Laser 150anw / 178nw / 179fnw",
		"HP Color Laser 150anw / 178nw / 179fnw",
		"HP Color Laser 150anw / 178nw / 179fnw",
		"HP LaserJet 2400 / 2410 / 2420d",
		"HP Color Laser 150anw / 178nw / 179fnw HP Color Laser 150anw / 178nw / 179fnw",
		"HP Color Laser 150anw / 178nw / 179fnw",
		"HP Color Laser 150anw / 178nw / 179fnw",
	];

section.section
	h2.b-title Каталог картриджей
	.b-cartridge-list.container
		._sidebar
			._menu
				include sidebar-menu
			.b-price-filter._price-filter.js-price-filter
				._title Цена
				._inputs
					._input-wrap
						input._input(name="from" value="10")
					._input-wrap
						input._input(name="to" value="85000")
				._range.js-price-range
		._header
			select.b-select._sort
				option Сортировать по названию
				option Сортировать по цене
			.b-btn.-sm._btn-filter.js-toggle-filter Показать фильтры
			._mode
				a(href="cartridge-rows.html")
					img(src="img/mode/list-grey.png")
				a(href="cartridge-tiles.html")
					img(src="img/mode/tile-color.png")
		._items
			block items
		._pagen
			include pagen

