extends cartridge-list

block items
	each item in cartridges
		.b-cartridge-row
			a(href="cartridge-detail.html")
				img._img(src="img/tmp/cartridge-row.png")
			._main
				._art Код: 101001
				.label.new._label
				a._title(href="cartridge-detail.html")= item
			._price-block
				._price-type Новый:
				._price-value от <span>8 930</span> ₽
			.btn-buy._buy
			._price-block
				._price-type Заправка:
				._price-value от <span>1 500</span> ₽
			.btn-buy._buy

