-
	const printers = [
		"LaserJet 4",
		"LaserJet Enterprise 700 M712",
		"LaserJet Enterprise 700 M712 long name long",
		"LaserJet Pro 200 Color M251",
		"Color LaserJet CP2025",
		"LaserJet 4ML",
		"LaserJet 5P",
		"LaserJet 5L",
		"LaserJet 1100A",
		"LaserJet 2100",
		"LaserJet 5000",
		"LaserJet 8100",
		"LaserJet 8150",
		"LaserJet 1000",
		"Color LaserJet 1500",
		"LaserJet 4ML",
		"LaserJet 5P",
		"LaserJet 5L",
	];

section.section
	h1.b-title Выберите модель принтера
	.b-printers
		._container.container
			each printer, index in printers
				a._item(href="cartridge-rows.html")
					img._img(src="img/tmp/printers/" + (index%8) + ".png")
					._title= printer

