-
	const contacts = [
		{
			coords: [55.689020, 37.571345],
			metro: 'Озерная',
			info: [
				{ title: 'Адрес', value: 'Россия, Москва, улица Дмитрия Ульянова, 17к1' },
				{ title: 'Адрес', values: [
					{ value: '+7 (499) 992-02-21', comment: 'общий номер;' },
					{ value: '+7 (499) 992-02-00', comment: 'номер офиса на Дмитрия Ульянова.' },
				] },
				{ title: 'Почта', value: 'profi-grand@mail.ru' }
			],
			company: [[
				{ title: 'Полное наименование', value: 'Публичное акционерное общество «Profi - Grand»' },
				{ title: 'Сокращенное наименование', value: 'ПАО «Profi - Grand»' },
				{ title: 'Юридический адрес', value: 'Россия, Москва, Большая Очаковская улица, 47А, стр. 1' },
				{ title: 'Фактический адрес', value: 'Россия, Москва, улица Дмитрия Ульянова, 17к1' },
				{ title: 'Адрес', values: [
					{ value: '+7 (499) 992-02-21', comment: 'общий номер;' },
					{ value: '+7 (499) 992-02-00', comment: 'номер офиса на Дмитрия Ульянова.' },
				] },
				{ title: 'ОГРН', value: '1027700132195' },
			], [
				{ title: 'Кор.счет', value: '30101810400000000225 в Главном управлении Центрального банка Российской Федерации по Центральному федеральному округу г.Москва(ГУ Банка России по ЦФО)' },
				{ title: 'КПП', value: '773601001' },
				{ title: 'ИНН', value: '7707083893' },
				{ title: 'БИК', value: '044525225' },
			]],
		},
		{
			coords: [55.673905, 37.440308],
			metro: 'Академическая',
			info: [
				{ title: 'Адрес', value: 'Россия, Москва, улица Большая Очаковская, 47А, стр. 1' },
				{
					title: 'Адрес', values: [
						{ value: '+7 (499) 992-02-21', comment: 'общий номер;' },
						{ value: '+7 (499) 992-02-00', comment: 'номер офиса на Дмитрия Ульянова.' },
					]
				},
				{ title: 'Почта', value: 'profi-grand@mail.ru' }
			],
			company: [[
				{ title: 'Полное наименование', value: 'Публичное акционерное общество «Profi - Grand»' },
				{ title: 'Сокращенное наименование', value: 'ПАО «Profi - Grand»' },
				{ title: 'Юридический адрес', value: 'Россия, Москва, Большая Очаковская улица, 47А, стр. 1' },
				{ title: 'Фактический адрес', value: 'Россия, Москва, Большая Очаковская улица, 47А, стр. 1' },
				{
					title: 'Адрес', values: [
						{ value: '+7 (499) 992-02-21', comment: 'общий номер;' },
						{ value: '+7 (499) 992-02-00', comment: 'номер офиса на Дмитрия Ульянова.' },
					]
				},
				{ title: 'ОГРН', value: '1027700132195' },
			], [
				{
					title: 'Кор.счет',
					value: '30101810400000000225 в Главном управлении Центрального банка Российской Федерации по Центральному федеральному округу г.Москва(ГУ Банка России по ЦФО)'
				},
				{ title: 'КПП', value: '773601001' },
				{ title: 'ИНН', value: '7707083893' },
				{ title: 'БИК', value: '044525225' },
			]],
		},
		{
			coords: [55.680020, 37.501345],
			metro: 'Свиблово',
			info: [
				{ title: 'Адрес', value: 'Россия, Москва, улица Пушкина, 17к1' },
				{
					title: 'Адрес', values: [
						{ value: '+7 (499) 992-02-21', comment: 'общий номер;' },
						{ value: '+7 (499) 992-02-00', comment: 'номер офиса на Дмитрия Ульянова.' },
					]
				},
				{ title: 'Почта', value: 'profi-grand@mail.ru' }
			],
			company: [[
				{ title: 'Полное наименование', value: 'Публичное акционерное общество «Profi - Grand»' },
				{ title: 'Сокращенное наименование', value: 'ПАО «Profi - Grand»' },
				{ title: 'Юридический адрес', value: 'Россия, Москва, Большая Очаковская улица, 47А, стр. 1' },
				{ title: 'Фактический адрес', value: 'Россия, Москва, улица Пушкина, 17к1' },
				{
					title: 'Адрес', values: [
						{ value: '+7 (499) 992-02-21', comment: 'общий номер;' },
						{ value: '+7 (499) 992-02-00', comment: 'номер офиса на Дмитрия Ульянова.' },
					]
				},
				{ title: 'ОГРН', value: '1027700132195' },
			], [
				{
					title: 'Кор.счет',
					value: '30101810400000000225 в Главном управлении Центрального банка Российской Федерации по Центральному федеральному округу г.Москва(ГУ Банка России по ЦФО)'
				},
				{ title: 'КПП', value: '773601001' },
				{ title: 'ИНН', value: '7707083893' },
				{ title: 'БИК', value: '044525225' },
			]],
		},
	];

mixin info(list)
	each info in list
		.b-info
			._title= info.title
			if info.value
				._value= info.value
			else
				each infoVal in info.values
					._value= infoVal.value
						if infoVal.comment
							._comment= infoVal.comment

script(src="//api-maps.yandex.ru/2.1/?apikey=891cd3c6-256b-496c-a002-a28bbd194342&lang=ru_RU")
section.section
	.container
		h1.b-title.-left Контакты
		.b-contacts
			._company-details.js-contact-block.js-contact-company
				div
					.b-metro-tabs._company-metro.js-contact-metro-item
						each item, index in contacts
							._item.js-contact-metro-item(data-id=index)= item.metro
				each item, index in contacts
					._company-item.js-contact-company-item(data-id=index)
						._company-item-border
							.b-tabs._tabs.js-contact-tabs
								._item(data-block="info") Контакты
								._item(data-block="company") Реквизиты компании
							._company-item-sides
								div
									+info(item.company[0])
								div
									+info(item.company[1])
									.b-btn.-sm._company-btn Скачать реквизиты
			._info-container.js-contact-block.js-contact-info
				.b-metro-tabs._info-metro.js-contact-metro-item
					each item, index in contacts
						._item.js-contact-metro-item(data-id=index)= item.metro
				._info-items
					each item, index in contacts
						._info-item.js-contact-info-item(data-id=index)
							.b-tabs._tabs.js-contact-tabs
								._item(data-block="info") Контакты
								._item(data-block="company") Реквизиты компании
							+info(item.info)
							.b-info
								._title.-margin Мы в соцсетях
							.b-social-list._info-social
								.b-social.-wa
								.b-social.-tg
								.b-social.-vk
							a.b-btn.-sm._btn-route Построить маршрут
				._maps
					each item, index in contacts
						._map.js-contact-map-item(data-id=index data-lat=item.coords[0] data-lon=item.coords[1] data-adr=item.address)

section.section(style="padding-bottom: 0px;")
	.container
		h1.b-title.-left Как добраться
		p Добраться до офиса на Большой Очаковской можно от метро Озёрная на автобусе 334 (остановка Очаковская) или пешком (10 минут от метро). Мы находимся в здании рядом с лабораторией INVITRO, вторая дверь справа, 3 этаж.
