

.b-pagen
	._pages
		a.arr.left(href="")
		a._page(href="") 1
		a._page(href="") 2
		span._page.active 3
		a._page(href="") 4
		a._page(href="") 5
		a._page(href="") ...
		a._page(href="") 22
		a.arr.right(href="")
	._size-select Выводить по:
		select.select.sm
			option 10
			option 20
			option 30
	._total 1-20 из 345
