<div class="populars">
    <div class="container">
        <h2 class="headin">Популярные модели картриджей</h2>
        <div class="slick-carousel">
            <div class="box">
                <img src="img/tmp/cartriges/1.jpg" >
            </div>
            <div class="box">
                <img src="img/tmp/cartriges/2.jpg" >
            </div>
            <div class="box">
                <img src="img/tmp/cartriges/3.jpg" >
            </div>
            <div class="box">
                <img src="img/tmp/cartriges/4.jpg" >
            </div>
            <div class="box">
                <img src="img/tmp/cartriges/5.jpg" >
            </div>
            <div class="box">
                <img src="img/tmp/cartriges/3.jpg" >
            </div>
            <div class="box">
                <img src="img/tmp/cartriges/2.jpg" >
            </div>
        </div>
    </div>
</div>
