<div class="question">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <img src="img2/picture_2.jpg" >
            </div>
            <div class="col-xl-4">
                <div class="form-box">
                    <div class="fb-inside">
                        <p class="headin">Остались вопросы?</p>
                        <p class="text">Оставьте заявку и наш специалист перезвонит через 10 минут</p>
                        <form>
                            <input class="form-control" type="name" placeholder="Имя">
                            <input class="form-control" type="phone" placeholder="Телефон">
                            <input class="form-control" type="mail" placeholder="E-mail">
                            <textarea class="form-control" rows="3">Комментарий</textarea>
                            <button class="btn btn-gr2" type="submit">Оставить заявку</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
