-
	const items = [
		"Ремонт техники Apple",
		"Ремонт телефонов",
		"Ремонт планшетов",
		"Ремонт ноутбуков",
		"Ремонт компьютеров",
		"Ремонт принтеров и МФУ",
	];

section.section
	h2.b-title Ремонт техники
	.b-repair-list
		._container.container
			each title, index in items
				a(href="repair-detail.html")._item
					img._img(src="img/tmp/repair/" + (index + 1) + '.png')
					h3._title= title
		._btn
			a.b-btn(data-src="#price" data-fancybox) Посмотреть прайс


	-
		const priceItems = [
			[ "Выезд ", "Бесплатно" ],
			[ "Диагностика", "Бесплатно" ],
			[ "Зависает компьютер", "от 1000 ₽" ],
			[ "Сильный шум в системном блоке", "900 ₽" ],
			[ "Чистка компьютера от пыли", "900 ₽" ],
			[ "Ремонт не включающегося компьютера", "1500-6000 ₽" ],
			[ "Замена внутренних частей системного блока", "500-2000 ₽" ],
			[ "Установка программного обеспечения", "900-3000 ₽" ],
			[ "Чистка системного блока от пыли", "300 ₽" ],
			[ "Ремонт разъемов USB и т.д.", "900 ₽" ],
			[ "Восстановление информации с неисправного компьютера", "от 1000 ₽" ],
			[ "Увеличение памяти компьютера", "от 1000 ₽" ],
			[ "Диагностика без ремонта", "900 ₽" ],
			[ "Восстановление ОС, установка драйверов, антивируса и пакета программ на ПК ", "1200 ₽" ],
			[ "Восстановление работоспособности ОС windows на ПК", "700 ₽" ],
		];
	div(style="display: none")
		div(id="price")
			.fancybox-border-mobile
				.b-price-popup
					._line.-top
						h2.b-title.-left._title Прайс
						.b-btn.-sm 8 (499) 992-02-21
					._line.-bottom
						select.select.purple
							option Ремонт компьютеров
							option Ремонт компьютеров
							option Ремонт компьютеров
						.b-btn.-sm Заказать звонок

					.b-price-table._table
						._body
							each row in priceItems
								._row.-type2
									._col= row[0]
									._col
										b= row[1]

