-
	const items = [
		{ title: "Установка Windows", price: "от 400 ₽" },
		{ title: "Удаление вирусов", price: "от 200 ₽" },
		{ title: "Замена материнской платы", price: "от 600 ₽" },
		{ title: "Настройка роутера", price: "от 350 ₽" },
		{ title: "Замена видеокарты", price: "от 1000 ₽" },
		{ title: "Замена жесткого диска", price: "от 600 ₽" },
	];

section.section
	.b-repair-problems
		h2.b-title Частые проблемы
		._container.container
			each item, index in items
				._item
					._title= item.title
					._price= item.price
