section.section
	.b-repair-detail
		._container.container
			._text
				h1.b-title Ремонт компьютеров
				p Ремонт компьютеров периодически просто необходим каждому пользователю ПК. Причин для сбоя бывает много: аппаратные поломки, сбой программного обеспечения, человеческий фактор. Одно должно быть неизменно – компьютерную помощь оказывать должны только квалифицированные мастера надёжных центров по ремонту компьютеров.
				p Наша компания рекомендует проводить регулярную проверку вашего ПК что бы выявить возможные, будущие проблемы и предотвратить серьезные, дорогие поломки.
				p Если Вы хотите уточнить стоимость работ или получить консультацию свяжитесь с нами по номеру <b style="color: #A88EED">8 (499) 992-02-21</b> или оставьте заявку и наш специалист перезвонит Вам в течении 10 минут. Спасибо!
			img._image(src='img/tmp/repair/detail.png')
			._buttons
				.b-btn Оставить заявку на ремонт
				.b-btn Посмотреть прайс
