-
	const items = [
		{
			title: "Ремонт техники",
			text: "Занимаемся ремонтом компьютеров, ноутбуков, принтеров и МФУ, техники Apple. Поможем Вам с поломками...",
			action: 'Рассчитать ремонт',
			img: '1',
		},
		{
			title: "Продажа картриджей",
			text: "Всегда есть в наличии любые картриджи, которые в дальнейшем можно будет заправлять. Напрямую работаем...",
			action: 'Выбрать картридж',
			img: '2',
		},
		{
			title: "Заправка картриджей",
			text: "Также у нас можно заправить любые картриджи. Вы можете приехать к нам сами или заказать вывоз картриджей...",
			action: 'Заправить картридж',
			img: '3',
		},
	];

section.section
	h2.b-title Услуги
	.b-services
		._container.container
			each item, index in items
				._item
					h3._title= item.title
					p._desc= item.text
					._bottom
						a(href="/")._action= item.action
						img._img(src="img/tmp/services/" + item.img + '.png')
