-
	const categories = [
		"HP",
		"Toshiba",
		"Brother",
		"Canon",
		"Lexmark",
		"Sharp",
		"Panasonic",
	];

	const subcategories = [
		"LaserJet 4",
		"LaserJet Enterprise 700 M712",
		"LaserJet Enterprise 700 M712 long name long",
		"LaserJet Pro 200 Color M251",
		"Color LaserJet CP2025",
		"LaserJet 4ML",
		"LaserJet 5P",
		"LaserJet 5L",
		"LaserJet 1100A",
		"LaserJet 2100",
		"LaserJet 5000",
		"LaserJet 8100",
		"LaserJet 8150",
		"LaserJet 1000",
		"Color LaserJet 1500",
		"LaserJet 4ML",
		"LaserJet 5P",
		"LaserJet 5L",
	];

.b-sidebar-menu
	each category, i0 in categories
		._item(class= i0 === 0 ? "active" : "")
			._category.js-menu-category
				a._category-name= category
				._arr.arr.down
			._subcategories
				each subcat, i1 in subcategories
					a._subcategory(href="" class= i1 === 0 ? "active" : "")= subcat
