-
	const icons = [
		"Бесплатный выезд в любой район Москвы",
		"У нас работают специалисты с опытом от 3 лет",
		"Опыт работы более 8 лет",
		"Ремонтируем даже если другие отказали",
	];

section.section
	h2.title Почему стоит выбрать нас?
	.b-why-us
		._container.container
			img._img(src="img/why-us/front.png")
			._text
				p Сервисный центр  PROFI Grand осуществляет заправку картриджей и ремонт оргтехники  более 8 лет. За это время нам удалось  найти лучших поставщиков с которыми мы  работаем на протяжении 5 лет. Ремонтные работы  производим как на выезде так и в сервисном центре.
				p Если Вы хотите уточнить стоимость работ или получить консультацию свяжитесь с нами по номеру <b style="color: #A88EED">8 (499) 992-02-21</b> или оставьте заявку и наш специалист перезвонит Вам в течении 10 минут.
			._icons
				each title, index in icons
					._icon
						._bg
							img(src="img/why-us/" + (index + 1) + '.png')
						._title= title
